@font-face {
  font-family: 'Avenir-Webfont';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/avenir_semibold.eot');
  src: url('/fonts/avenir_semibold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir_semibold.woff') format('woff'),
       url('/fonts/avenir_semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Webfont';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/avenir_normal.eot');
  src: url('/fonts/avenir_normal.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir_normal.woff') format('woff'),
       url('/fonts/avenir_normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Webfont';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/avenir_light.eot');
  src: url('/fonts/avenir_light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/avenir_light.woff') format('woff'),
       url('/fonts/avenir_light.ttf') format('truetype');
}

html {
  background-color: #092b4d;
  height: 100%;
  margin: 0;
  min-height: 560px;
  padding: 0;
  position: relative;
}

body {
  background-image: -moz-linear-gradient(#071932, #092b4d);
  background-image: -webkit-linear-gradient(#071932, #092b4d);
  background-image: linear-gradient(#071932, #092b4d);
  color: #fff;
  font-family: 'Avenir-Webfont','Avenir','Droid Sans','DroidSansRegular',Corbel,Tahoma,Geneva,sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

body::after {
  background-image: url(/images/logo-white.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px 32px;
  bottom: 40px;
  content: '';
  display: block;
  height: 32px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0 auto;
  padding: 45px 0;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 435px;
  padding: 0 20px;
}

label {
  color: #536073;
  display: block;
  font-size: 1em;
  margin-bottom: 4px;
}

input {
  background: transparent;
  border: 2px solid #526073;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-family: 'Avenir-Webfont','Avenir','Droid Sans','DroidSansRegular',Corbel,Tahoma,Geneva,sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 30px;
  padding: 16px;
  width: 100%;
}

input:focus {
  outline: none;
}

button {
  background-color: #ed3685;
  border: none;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 65px auto;
  padding: 12px 20px;
  text-transform: uppercase;
  -moz-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button:hover {
  background-color: #d53077;
  font-size: 13px;
  padding: 14px 24px;
}
