[route="learner.library"],
[route="learner.library.index"],
[route="admin.dashboard"] {
  background-color: $light-grey;
}

[route="learner.course.slide"] .sidebar,
[route="learner.course.external"] .sidebar,
[route="login"] .sidebar,
[route="finished"] .sidebar {
  display: none;
}

[route="author.program.edit"] {
  background-color: $grey-gradient-stop;
}

[route="react.author.program.edit"] {
  background-color: $grey-gradient-stop;
}

[route="author.courses.slides.author.courses.slide"], // ember
[route="author.courses.slides.slide--react"], // react
[route="author.course.upload"] {
  height: 100%;
}
