@charset "utf-8";

.layout--banner {
  @include large-content-area;
  @include centered;
  @include full-width;

  @include breakpoint(large) {
    display: table;
  }
}


.layout--banner__text,
.layout--banner__actions {
  text-align: left;
  display: block;
  padding: 0;

  @include breakpoint(large) {
    display: table-cell;
    vertical-align: middle;
  }
  @include breakpoint(small) {
    text-align: center;
  }
}

.layout--banner__actions {
  @include breakpoint(large) {
    margin: 0;
    padding-top: 0;
    text-align: right;
  }
}

.layout--banner__button {
    @include space(margin, xxs);
    @include btn-base;
    @include btn-dark-secondary;
    &:active {
      @include button-active($blue, true, $white);
    }
}
