@charset "utf-8";

.layout--dialog,
#mce-modal-block {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $indigo-op15;
}

.layout--dialog img {
  max-width: 100%;
  width: auto;
}

.layout--dialog--app-wrap-dialog-is-open {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.layout--dialog ic-modal-main,
.layout--dialog__content--constrained {
  @extend .constrain-width;
  background-color: $white;
  @include centered;
  @include rounded-corners-default;
  @include shadow;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 2%;
  right: 2%;
  overflow: auto;
}
.layout--dialog ic-modal-title {
  display: none;
}

.layout--dialog__before-content,
.layout--dialog__content,
.layout--dialog__after-content {
  clear: both;
  @include block;
}

.layout--dialog__content {
  @include space(padding, s, right left);
  @include space(padding, m, bottom);
  -webkit-overflow-scroll: touch;
  max-height: 100%;
}
.layout--dialog__close-button {
  @include btn--reset();
  color: $dark-grey;
  position: absolute;
  top: 16px;
  right: 16px;
}
.layout--dialog__trigger {
  position: fixed;
  bottom: 12px;
  right: 24px;
}

@media only screen and (max-height: 600px) {
  .layout--dialog ic-modal-main,
  .layout--dialog {
    bottom: 5%;
    margin: 0 auto;
    top: 5%;
  }
}

@media only screen and (max-height: 400px) {
  .layout--dialog ic-modal-main {
    padding: 10px 20px;
  }
}
