@charset "utf-8";

.layout--item-header {
  @include space(padding, xl, bottom);
  @include grey-gradient;

  color: $blue-grey;

  &.layout--item-header--transparent-bg {
    background: transparent;
  }

  &.layout--item-header--white-bg {
    background: $white;
  }
}

.layout--item-header__content {
  margin: 0 auto;

  @include large-content-area;
  @include clearfix;
  @include space(padding, xl, top);
  @include space(padding, m, right left);

  .EditableText {
    left: -6px;
  }
}

.layout--item-header__breadcrumb {
  @extend .border-b;
  border-color: $med-grey;
  @include x-small;
  @include space(margin, s, bottom);
  padding-bottom: 12px;
  margin-top: -24px;
  @include breakpoint(small) {
    display: none;
  }
}

.layout--item-header__details,
.layout--item-header__details--with-icon {
  @include clearfix;
  @include breakpoint(large) {
    float: left;
  }
  width: 70%;
}

.layout--item-header__details--lynda {
  @extend .layout--item-header__details;
  width: 100%;
}

.layout--item-header__details--with-icon {
  @include breakpoint(large) {
    padding-left: 96px;
  }
}

.layout--item-header__expansion {
  margin: 0 auto;
  @include space(margin, m, top);

  @include large-content-area;
  @include clearfix;
  @include space(padding, m, right left);
}

.layout--item-header__expansion-trigger {
  @include breakpoint(medium) {
    text-align: center;
  }
}

.layout--item-header__expansion-section {
  @include space(margin, m, bottom);

  @include breakpoint(large) {
    border-width: 0;
  }

  h3 {
    @include small;
    @include space(padding, xs, bottom);
    @include space(margin, l, top);
    @include space(margin, s, bottom);
    border-bottom: 1px solid $grey;
    text-transform: uppercase;
  }
}

.layout--item-header__icon {
  display: none;
  @extend %header-icon;
  @include breakpoint(large) {
    display: block;
  }
}

.layout--item-header__icon--group {
  margin-left: -96px;
}

.layout--item-header__icon--marketplace {
  display: none;
  color: black;
  background: transparent;
  float: left;
  padding-right: 15px;
  font-size: 2em;
  @include breakpoint(large) {
    display: block;
  }
}

.layout--item-header__actions {
  text-align: center;
  @include display(flex);
  @include flex-direction(row-reverse);
  @include justify-content(center);
  @include space(padding, m, top);

  /*FIXME: do we care that this is so specific?*/
  .message-box, button, .btn, .btn-like {
    float: none;
  }

  /* this can be remved when the programs page becomes react*/
  & .edit__button {
    float: right;
  }

  .btn, .message-box__trigger-button {
    &:focus {
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.07);
    }
  }

  @include breakpoint(large) {
    float: right;
    padding: 0 0 10px 0;
  }
}

// Live Courses
// TODO: This can be removed when columns are added to Live Course Settings

.live-course-header .layout--item-header__expansion-section {
  @include breakpoint(large) {
    @include space(padding, m, top);
    border-width: 1px 0 0;
    border-style: solid;
    border-color: $grey;
  }
}

// Modifiers

// no-actions
.layout--item-header--no-actions .layout--item-header__actions {
  padding: 0;
}
