@charset "utf-8";

.layout--list {
  @include breakpoint(large) {
    @include space(padding, xxl, top);
  }
}

.layout--list__header {
  margin: 0 auto;
  @include clearfix;
  @include large-content-area;
  @include space(padding, s, top right left);
  @include breakpoint(small) {
    @include space(padding, s, top right bottom);
  }
  @include breakpoint(medium) {
    @include space(padding, s, top right bottom);
  }
  @include breakpoint(large) {
    @include space(padding, m, top right left);
  }
}

.layout--list__header-text {
  float: left;
  color: $blue-grey;
  @include breakpoint(small) {
    margin: 0;
  }
}


.layout--list__content {
  @include large-content-area;
  margin: 0 auto;
  @include breakpoint(large) {
    @include space(padding, m, right left);
  }
}


