@charset "utf-8";

.layout--mobile-menu-bar {
  display: none;
  text-align: center;
  @include indigo-gradient;
  @include breakpoint(small) {
    display: block;
    height: 64px;
  }
}
.layout--mobile-menu-bar a {
  line-height: 64px;
  text-align: center;
  display: inline-block;
  color: $white;
  @include space(padding, s, right left);
}
