@charset "utf-8";

/**
 * The placeholder admin dashboard content.
 */

.admin-dashboard {
  @include space(padding, m, right left);
  @include space(padding, xxl, bottom);
  @include space(padding, m, top);
  @include large-content-area;
  @include centered;
  position: relative;
}

.admin-dashboard__widget {
  @extend .border-b;
  border-color: $med-grey;
  @include space(padding, m);
  background-color: $white;
  @include space(margin, s, top);
  @include rounded-corners-default;

  &--main {
    @include breakpoint(small) {
      padding: 0;
      margin: 0;
    }
  }
}

.admin-dashboard__widget-wrapper {
  &--main {
    @include space(padding, xs, right);
    @include breakpoint(medium) {
      padding: 0;
    }
  }

  &--overview {
    @include space(padding, xs, left);
    @include breakpoint(medium) {
      padding: 0;
    }
  }
}

.admin-dashboard__button {
  @include btn;
  @include space(margin, xxs, right left);
  @include breakpoint(small) {
    display: block;
    margin: 8px auto;
  }
}

.admin-dashboard__actions .admin-dashboard__button {
  @include space(margin, xs, top);

  @include breakpoint(small) {
    display: inline-block;
    @include space(margin, s, right left);
  }
}

.admin-dashboard__quick-actions {
  .remove-users {
    color:$pink;
  }
  ic-menu-item:focus .remove-users {
    color: $white;
  }
  @include breakpoint(small) {
    text-align: center;
  }
}

.admin-dashboard__user-count {
  @extend .h2;
  @include margin-none;
}

.admin-dashboard__overview-list {
  @extend .unstyled;

  border-top: 0;
  border-bottom: 0;

  &-item {
    @include space(padding, xs, top bottom);
    @include upcase;
    @include small;

    border-bottom: 1px solid $grey;

    &:last-of-type {
      border-bottom: none;
    }

    &-title {
      color: $indigo;
    }

    &-value {
      @include bold;
      @include right;
    }
  }
}

.admin-dashboard__count-section {
  text-align: center;
  cursor: pointer;

  &--selected {
    @extend .border-dark-grey;
    @include rounded-corners-default;
    @extend .border-trbl;
    @include shadow;

    @include breakpoint(small) {
      border: none;
    }
  }

  @include breakpoint(small) {
    background-color: $white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin-top: 16px;
    border-radius: 5px;
  }
}

// We're applying the padding fix found at
// http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
// to fix an issue in Safari 7.
.admin-dashboard__overdue-count,
.admin-dashboard__completed-count {
  height: 0;
  width: 100%;
  padding-top: 71%;
  position: relative;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  text {
    @include light;
    font-size: 104px;
  }
}

.admin-dashboard__message-button {
  @include btn;
  margin: auto;
}

.admin-dashboard__menu {
  .combo-box__box:focus {
    border-color: transparent;
  }

  .combo-box__list {
    top: 100%;
    padding-top: 0;
  }
}

.admin-dashboard__header{
  background-color:white;
  @include space(padding, m, bottom);
}

.admin-dashboard__header-icon-text{
  font-size: 2em;
  font-weight: lighter;
  @include space(padding, s, top);
  @include space(padding, m, right bottom left);
  @include large-content-area;
  @include centered;
  line-height: 2;
  display: flex; 
  align-items: center;
}

.admin-dashboard__header-icon-wrapper{
  border-radius: 50%;
  background-color: $blue-grey;
  @include space(margin,m,right);
  @include space(padding, m, top right left bottom);
  width: 80px;
  height: 80px;
  display: inline-block;
}

.admin-dashboard__header-icon{
  color: white;
  font-family: arial;
  display: flex; 
  align-items: center;
}

.admin-dashboard__header-stripe{
  @include space(margin, l, bottom);
  float: top;
  height: 8px;
}

.admin-dashboard-container{
  .report-filter {
    background-color: $white;
    @extend .border-t;
    @include border-grey;

    color: $blue-grey;

    &__section {
      .combo-box__label, .combo-box__icon {
        color: $blue-grey;
      }
    }
  }
}

.dashboard-widget-row {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(stretch);
  @include flex-wrap(wrap);
  width: 100%;

  @include breakpoint(larger-than-phones) {
    @include flex-wrap(nowrap);
  }

  &__cell {
    @extend .border-b;
    border-color: $med-grey;
    @include space(padding, m);
    background-color: $white;
    @include space(margin, s, top);
    @include rounded-corners-default;
    @include flex-grow(1);

    @include breakpoint(larger-than-phones) {
      @include flex-grow(0);
      @include flex-basis(calc(50% - 8px));
    }
  }
}

.admin-dashboard-hero {
  @include space(margin, l, top);

  @include breakpoint(small) {
     display: none;
  }

  &__title {
    @include large;
    position: relative;
    text-align: center;
  }

  &__caption {
    @include small;
    position: relative;
    text-align: center;
  }
}
