.attachment-button {
  position: relative;
  color: $dark-grey;
  @include btn--reset;
  @include btn--round;
  width: 3.75em;
  height: 3.75em;
  line-height: 1;
  border: 2px solid transparent;
  border-radius: 50%;
  @include transition(color, border-color 200ms $ease-in-out-cubic);
  vertical-align: middle;
}

.attachment-button--active {
  color: $blue;
  border-color: $blue;
}

.attachment-button__count {
  @include bold;
  @include x-small;
  position: absolute;
  top: 1.15em;
  left: 2.6em;
}
