.attachment-table {
  &__icon {
    margin-right: .5rem;
  }

  & .gs-download {
    font-size: 1.3rem;
  }
}
.attachment-table__icon {
  vertical-align: middle;
}
.attachment-table__modified,
.attachment-table__availability {
  font-size: 15px;
  white-space: nowrap;
}
