@charset "utf-8";

.tray {

    &__item {
        @include light;
        @include display("flex");
        @include align-items(center);
        width: 100%;
        border-bottom: 1px solid $grey;
        white-space: nowrap;
        padding: 1.25rem .15rem;

      &__prefix {
        @include flex-grow(0);
        @include flex-shrink(1);
      }

      &__suffix {
        @include flex-grow(1);
        @include flex-shrink(0);
      }

      &__actions {
        @include flex-grow(0);
        @include flex-shrink(0);
        margin-left: 1rem;
      }
    }

    &__header {
        @include light;
        margin-bottom: 3rem;
        line-height: 2.375rem;
    }
}
