.author-groups__combo-box {
  @include space(margin, xs, top);
  @include space(margin, s, bottom);

  .combo-box__box {
    padding: 0;
  }

  .combo-box__box:focus {
    border-color: transparent;
  }

  .combo-box__list {
    width: 275px;
    top: 100%;
    padding-top: 0;
    right: 0;
    left: auto;
  }

  &-item-desc {
    color: $dark-grey;
  }

  .combo-box__list-item--selected &-item-desc {
    color: white;
  }
}

.author-groups__add-group-btn {
  margin-top: 0;
}