.author-user-header {
  @include display(flex);
  @include align-items(center);

  &__info {
    @include space(padding, m, left);
    text-align: left;
  }

  &__manager {
    color: $indigo;
    @include space(margin, s, bottom);
    font-size: 16px;
    font-weight: normal;
  }

  &__name {
    color: $indigo;
    @include space(margin, s, bottom);

    @include breakpoint(large) {
      font-size: 32px;
      margin: 0;
    }
  }
}
