.author-course-templates__subaccount-filter {
  @include bold;
  @include right;

  &__label--active {
    color: $blue;
  }

  &__icon {
    @extend .gs-arrow-down, .gs-3-4;
    @include space(margin, xs, left);
  }
}
.author-course-templates__import {
  float: right;
  margin-top: 16px;
  margin-right: 5px;
  color: $dark-grey;
}
.author-course-templates__import-icon {
  vertical-align: middle;
}
.author-course-templates__import__button {
  margin-top: 5px;
}
