.auto_csv_status {
  @include space(margin, s);

  a {
    cursor: pointer;
  }
}
.auto-csv-status__help {
  display: block;
  text-align: right;
}
.auto-csv-status__help__link {
  @include upcase;
  @include small;
  font-weight: bold;
  color: $blue;
}
.auto-csv-status__last-sync {
  text-align: center;
}
.auto-csv-status__last-sync__header {
  @include upcase;
  margin: 15px 0 10px 0;

  text {
    font-size: 32px;
  }
}
.auto-csv-status_last-sync__status {
  color: $blue-grey;
}
.auto-csv-status__last-sync__status__help {
  @include upcase;
  @include small;
  font-weight: bold;
  color: $blue;
}
.auto-csv-status_last-sync__syncnow {
  @include upcase;
  @include x-small;

  display: block;
  color: $blue;
  font-weight: bold;
}
.auto-csv-status__stats {
  @extend .unstyled;
  margin: 30px 0;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}
.auto-csv-status__stats-item {
  @include space(padding, xs, top bottom);
  @include small;
  border-bottom: 1px solid $grey;

  &:last-of-type {
    border-bottom: none;
  }
}
.auto-csv-status__stats-item__label {
  @include upcase;
}
.auto-csv-status__stats-item__data {
  @include bold;
  @include right;
}
.auto-csv-status__progress .progress-bar .progress {
  @include transition (width 30s $ease-in-out-cubic);
}
