.autocomplete-toggle {
  @include display(flex);
  @include justify-content(flex-end);
  @include space(margin, s, top bottom);

  &--inactive {
    border: 2px solid transparent;
  }

  .autocomplete {
    @include flex(1 1 auto);
    @include rounded-corners-default;
    border: 2px solid $grey;

    &__input {
      @include space(padding, s, top bottom);
      @include space(padding, xs, left right);
      border: none;
    }
  }

  &__trigger-button {
    @include btn;
    @include space(margin, m, right);
    @include space(margin, xs, top bottom);
  }

  &__trigger-icon {
    @include space(padding, xxs, right);
  }

  &__cancel-icon {
    color: $dark-grey;
    @extend .gs-x;
    @extend .gs-1x;
  }

  &__cancel-button {
    @include btn--reset;
    @include text-right;
    @include space(padding, s);
    @include space(margin, xxl, left);
    @include space(margin, xs, right);
    @include breakpoint(small) {
      @include space(margin, s, left)
    }
  }
}
