.availability__trigger {
  border: none;
  background: transparent;
}
.availability__trigger.popdown__trigger {
  padding: 0;
}
.availability__value {
  display: block;
  margin-right: 8px;
}
.availability__value--editable {
  color: $blue;
}

.availability__selector {
  width: 200px;
}
.availability__selection {
  padding: 15px;
  border: 0;
  background: $white;
  width: 100%;
  text-align: left;
}
/* Selects all but the last in a series */
.availability__selection:nth-last-child(n+2) {
  border-bottom: 1px solid $grey;
}
