.badged-icon {
  display: inline-block;
  position: relative;

  &__badge {
    $font-size: 0.625rem;

    border: 0.125rem solid $blue-grey;
    border-radius: $font-size;
    display: inline-block;
    font-size: $font-size;
    height: $font-size * 2;
    line-height: ($font-size * 2) - 0.25;
    min-width: $font-size * 2;
    position: absolute;
    right: -50%;
    text-align: center;
    top: -25%;

    &--blue {
      background-color: $bright-blue;
      color: $blue-grey;
    }
  }
}
