@charset "utf-8";

// fixed banner that shows when masquerading

.br-masquerade {
  height: auto;
  color: $white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $pink;
  @include space(padding, m, top bottom);
  padding-left: 60px;

  p {
    @include space(padding, xs, top bottom);
  }

  &--stop-button {
    @include btn;
    @include btn-alert;
    @include right;
    @include space(margin, l, right);
    @include space(margin, xxs, top);
    border-color: $white;
    color: $white;

    &:hover {
      @include button-hover($white, $border-color: $pink, $box-shadow: $white);
    }
    &:active {
      @include button-active($pink, true, $white);
    }
  }
}

.appWrapper,
.sidebar__wrapper {
  &--masquerading {
    padding-bottom: 90px;
  }
}
