/*
  Branding Editor
*/

.brand-settings__header {
  line-height: 1.2em;
}
.brand-settings__action-btn {
  text-align: right;
}
.brand-settings__screen-shot {
  width: 100%;
  max-width: 400px;
}
.brand-logo-drop__drop-area {
  border: 2px dashed $dark-grey;
  @include rounded-corners-default;
  padding: 65px 10px;
  text-align: center;
  background-color: $white;
  color: $dark-grey;
}
.brand-logo-drop__drop-area-icon {
  display: block;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 16px;
  border: 1px solid $dark-grey;
  border-radius: 22px;
  padding-top: 9px;
}
.brand-logo-drop__hand {
  margin-top: 22px;
  margin-left: -91px;
}

.branding-tiles {
  margin: 0 auto;
  text-align: left;
  width: 1035px;
  @media only screen and (max-width: 1310px) {
    width: 690px;
  }
  @media only screen and (max-width: 965px) {
    width: 345px;
  }
}

.branding-tile {
  display: inline-block;
  margin: 15px 20px;
  position: relative;
  width: 305px;
  height: 280px;
}

.branding-tile__link {
  @include bold;
  @include text-center;
  @include full-height;
  @include full-width;
  @extend .no-link-style;
  color: $blue-grey;
  // little hack to ensure it's all clickable in IE, otherwise controls
  // and canvases bleed through
  background: rgba(1,1,1,0);
  position: absolute;
  top: 0;
  left: 0;
}

.branding-tile__wrapper {
  @include shadow;
  @include full-width;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 250px;
  overflow: hidden;
}

.branding-tile__content {
  transform-origin: 0 0;
  transform: scale(0.25);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  width: 400%;
  height: 400%;
}

.branding-preview {
  @include full-height;
  @include space(padding, m, right left);
  position: relative;
  cursor: pointer;
}

.branding-preview__index-link {
  @include full-width;
  @include text-center;
  @extend .no-link-style;
  @include bold;
  @include space(padding, l, top);
  color: $blue-grey;
  position: absolute;
}

.branding-preview__wrapper {
  @include full-height;
  @include space(padding, m, bottom);
  padding-top: 75px;
}

.branding-preview__box {
  @include shadow;
  @include full-height;
  max-width: 1000px;
  margin: 0 auto;
}

.branding-preview__content {
  @extend .overflow-hidden;
  transform-origin: 0 0;
  transform: scale(0.8);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(0.8);
  height: 125%;
  width: 125%;
  cursor: default;
}

.branding-color-help-text {
  right: 0;
}


/*
  Branding for Learner
*/

.brand-logo {
  float:right;
  position: relative;
  text-align: right;
  height: 86px;
  width: auto;
  max-width: 460px;

  img {
    height: 100%;
  }
  &.survey {
    float: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

  @include breakpoint(small) {
    margin-top: 0;
    width: 100%;
    text-align:center;
    margin-bottom: 24px;
  }

  @include breakpoint(medium) {
    display: block;
  }
}
.brand-logo--auth-layout {
  float: none;
  text-align: center;
  margin: 0 auto 30px auto;
}
.brand-logo--course-list {
  float: right;
  height: 86px;
}
.brand-logo--library-list {
  margin-top: -1.9em;
  display: none;
  @include breakpoint(large) {
    display: block;
  }

  @include breakpoint(small) {
    float: none;
    margin: 0 auto;
  }
}
.certificate {
  padding-top: 75px;
}
.brand-logo--certificate {
  float: left;
  margin-left: 2.1em;
  margin-top: 2.1em;
}
.brand-logo--survey,
.brand-logo--course {
  bottom: 10px;
  position: absolute;
  right: 3%;
}
.brand-logo--markets {
  width: auto;
  height: 50px;
  margin-bottom:0;
  margin-left:-4px; //this keeps the logo left aligned with the list
  &[src*='lynda']{
    height:61px;
  }
}
.brand-logo.email-preview,
.cover-slide__content .brand-logo {
  float: none;
  display: block;
  text-align: left;
  margin-bottom:25px;
}

/*
  .brand-logo--placeholder is used to maintain the legacy sizing for logos
  until the image is loaded and the new size class is determined by its
  aspect ratio.
*/

.brand-logo--placeholder {
  width: 200px;
  height: 117px;

  @include breakpoint(medium) {
    width: 180px;
    height: 105px;
  }
  @include breakpoint(small) {
    margin-top: 0;
  }
  @include breakpoint(short-mobile) {
    width: 180px;
    height: 105px;
    margin-bottom: 12px;
  }
}

.brand-logo--placeholder.brand-logo--auth-layout {
  width: 225px;
  height: 140px;
}

.brand-logo--placeholder.brand-logo--course-list {
  width: 120px;
  height: 70px;
}

.brand-logo--placeholder.brand-logo--survey,
.brand-logo--placeholder.brand-logo--course {
  width: 180px;
  height: 105px;
}

/*
  The folowing brand-logo-- styles are chosen based on the logo's aspect ratio.
*/

.brand-logo--double-wide {
  height: 22px;
  margin-top: 24px;

  &.brand-logo--auth-layout {
    height: 22px;
  }

  &.splash-view__client-logo img{
    height: 34px;
  }
  @include breakpoint(medium) {
    height: 18px;
    margin-top: 16px;
  }

  @include breakpoint(small) {
    height: 16px;
  }
}

.brand-logo--logo-type-scaled {
	height: 26px;
	margin-top: 21px;

  &.brand-logo--auth-layout {
    height: 31px;
  }

  &.splash-view__client-logo img{
    height: 38px;
  }

  @include breakpoint(medium) {
    max-width: 400px;
    height: 22px;
  }

  @include breakpoint(small) {
    height: 20px;
  }
}

.brand-logo--logo-type {
  height: 38px;
  margin-top: 12px;

  &.brand-logo--auth-layout {
    height: 42px;
  }

  &.splash-view__client-logo img{
    height: 48px;
  }

  @include breakpoint(medium) {
    max-width: 400px;
    height: 28px;
  }

  @include breakpoint(small) {
    height: 26px;
  }
}

.brand-logo--middle {
  height: 44px;
  margin-top: 10px;

  &.brand-logo--auth-layout {
    height: 52px;
  }

  &.splash-view__client-logo img{
    height: 64px;
  }
}

.brand-logo--horizontal-scaled {
    margin-top: 0px;
    height: 48px;

  &.brand-logo--auth-layout {
    height: 70px;
  }

  &.splash-view__client-logo img{
    height: 86px;
  }

  @include breakpoint(medium) {
    height: 42px;
  }

  @include breakpoint(small) {
    height: 34px;
  }
}

.brand-logo--horizontal {
  height: 65px;
  margin-top: -7px;

  &.brand-logo--auth-layout {
    height: 103px;
  }

  &.splash-view__client-logo img{
    height: 129px;
  }

  @include breakpoint(medium) {
    height: 48px;
  }

  @include breakpoint(small) {
    height: 44px;
  }
}

/*
  Branding Preview
*/

.branding-preview,
.branding-tile,
.brand-carousel__item {
  .sidebar {
    position: absolute;
  }
  .next-to-sidebar-panel {
    padding-left: $sidebar-width;
  }
}
.brand-carousel__slider {
  margin-bottom: 20px;
}
.brand-carousel__clip {
  max-height: 490px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.brand-carousel__item {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include breakpoint(medium) {
    height: 300px;
  }

  @include breakpoint(large) {
    height: 400px;
  }

  @include breakpoint(x-large) {
    height: 490px;
  }

}
.brand-carousel__item-content {
  overflow: hidden;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  cursor: default;

  @include breakpoint(medium) {
    transform: scale(0.25);
    -webkit-transform: scale(0.25);
    height: 400%;
    width: 400%;
  }

  @include breakpoint(large) {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    height: 200%;
    width: 200%;
  }

  @include breakpoint(x-large) {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    height: 125%;
    width: 125%;
  }
}
