@charset "utf-8";

.change-log {
  @include space(margin, m, top left);

  @include breakpoint(small) {
    @include space('margin', m, top);
  }

  @extend .unstyled;
  @extend .bordered;
}

.change-set {
  position: relative;

  @include space(padding, m, left);
  @include space(padding, l, top bottom);

  @include breakpoint(medium) {
    @include space(padding, s, right);
  }
  @include clearfix;

  .metadata {
    @include space(padding, m, right);

    margin-top: -24px;
    float: right;
  }

  .inline {
    @include clearfix;
    display: inline-block;
    width: inherit;
  }

  .removable-item {
    @include space(margin, l, left);
    @include clearfix;

    width: inherit
  }

  .slide-template-preview {
    cursor: inherit;
  }
}
