@charset "utf-8";

.collapsible-table-card {
  position: relative;
  width: 100%;

  &__action {
    padding: 0;
    color: $indigo;
  }

  &__action:hover{
    text-decoration: none;
  }

  &__action-title {
    margin-left:1em;
    text-transform: uppercase;
  }

  &__button {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    height: 2em;
    width: 2.5em;
    outline: 0;
    border: 0;
    top:.5em;
    background: $white;
    pointer-events: none;
    border-left: 1px solid $light-grey;
    @include transition(border 250ms);

    &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      height: 12px;
      width: 4px;
      background-color: $dark-grey;
      transform-origin: 50%;
      top: 50%;
      left: 50%;
      @include transition(all 250ms ease-in-out);
    }

    &:before {
      @include transform(translate(75%, -50%) rotate(45deg));
    }

    &:after {
      @include transform(translate(-75%, -50%) rotate(-45deg));
    }
  }

  &__list {
    list-style: none;

    &-item {
      padding-bottom: 2rem;
    }
  }

  &__title {
    font-size: .75rem;
    text-transform: uppercase;
    display: block;
    color: $dark-grey;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    @include transition(all 250ms ease-in-out);
  }

  &__header {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
  }

  &--open {
    .collapsible-table-card__button {
      border:none;
    }

    .collapsible-table-card__content {
      max-height: 500px;
    }

    .collapsible-table-card__button {
      &:before {
        @include transform(translate(75%, -50%) rotate(135deg));
      }

      &:after {
        @include transform(translate(-75%, -50%) rotate(-135deg));
      }
    }
  }
}
