@charset "utf-8";

.combo-box{
  cursor: pointer;
  &,
  &__box {
    @include rounded-corners-default;
    outline: none;
    position: relative;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid $blue;
      outline: none;
    }
  }
  &__icon {
    @include space(margin, s, left);
  }

  &__icon-left {
    @include space(margin, s, right);
  }

  &__box,
  &__list-item {
    @include space(padding, xs);
  }
  &__list-item--selected {
    outline: none;
    background: $blue;
    color: $white;
  }
  &__list {
    @include rounded-corners-default;
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 25px $indigo-op25;
    max-height: 600px;
    overflow-y: auto;
    /*oof, HTMLBars will save us!*/
    & li:last-of-type {
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
    }
  }
}
.combobox--language-selector {
  .combo-box__list {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}

.combo-box--compact {
  padding: 0;

  &.combo-box--open .combo-box__box {
    @extend .invisible-focusable;
  }
  .combo-box__box {
    margin: -2px -6px;
    padding: 0 4px;
  }
  .combo-box__icon {
    @include space(margin, xs, left);
  }
  .combo-box__list {
    padding: 0;
    margin: -4px -6px;
    & li:first-of-type {
      border-top-left-radius: $border-radius-default;
      border-top-right-radius: $border-radius-default;
    }
  }
}

.combo-box--question-type {
  max-width: 250px;
}

.combo-box--range-select {
  @include small;
  @include upcase;
  @include bold;

  .combo-box__icon {
    @include space(margin, xxs, left);
    @extend .gs-1x
  }
}

.combo-box--course-filter {
  max-width: 250px;
  display: inline;
  top: 10px;
  font-weight: bold;
}

.combo-box--message-filter {
  max-width: 250px;
  left: -8px;
  @include breakpoint(small) {
    max-width: calc(100% + 16px);
    width: calc(100% + 16px);
  }

  .combo-box__box{
    color: $blue;
    font-weight: bold;
  }
  .combo-box__list {
    font-weight: normal;
    color: $black;
  }
}

.combo-box--saml-nameid-selector {
  left: -8px;
  @include breakpoint(small) {
    max-width: calc(100% + 16px);
    width: calc(100% + 16px);
  }

  .combo-box__box{
    color: $blue;
    font-weight: bold;
  }
  .combo-box__list {
    font-weight: normal;
    color: $black;
  }
}

.combobox--language-selector {
  font-size: 13px;
  border: 2px solid $grey;
  @include rounded-corners-default;
}

.combo-box--sort {
  color: $blue;

  .combo-box__icon {
    @include space(margin, xs, left);
    font-size: .75em;
    font-weight: normal;
  }
  .combo-box__box{
    font-weight: bold;
    white-space: nowrap;
  }
  .combo-box__label {
    color: $black;
    font-weight: normal;
    @include space(padding, xs, right);
  }
  .combo-box__list {
    top: -8px;
    right: -8px;
    left: -8px;
    padding-top: 4em;
    padding-bottom: 0;
    font-weight: normal;
    color: $black;
    text-align: center;
  }
  .combo-box__list-item:first-of-type {
    @extend .border-t;
    @include border-grey;
  }
}

.combo-box--library-sort {
  color: $blue;

  &.combo-box--open {
    .combo-box__icon {
      visibility: hidden;
    }
  }

  .combo-box__icon {
    @include space(margin, xs, left);
    color: $blue-grey;
    font-size: .75em;
    font-weight: normal;
  }

  .combo-box__icon-left {
    @include space(margin, xs, right);
    color: $blue-grey;
    font-size: 1.4em;
    position: relative;
    top: 3px;
  }

  .combo-box__box{
    font-weight: bold;
    white-space: nowrap;
    padding: 0;

    &:focus {
      border: 2px solid transparent;
    }
  }
  .combo-box__label {
    color: $blue-grey;
    font-weight: bold;
    @include space(padding, xs, right);
  }

  .combo-box__list {
    top: -10px;
    right: -12px;
    left: -12px;
    padding-top: 4em;
    padding-bottom: 1em;
    font-weight: normal;
    color: $black;
    text-align: center;
  }

  .combo-box__list-item {
    @include space(padding, xxs);
    color: $dark-grey;
    font-size: 13px;
    font-weight: bold;
  }

  .combo-box__list-item--selected {
    outline: none;
    background: $white;
    color: $blue;
  }
}

// for buttons next to combo-box that need to align
.combo-box--btn {
  border: solid 4px transparent;
  border-width: 4px 0;
  @include space(padding, xs, top bottom);
}
