.copy-text-modal {
  &__header {
    padding: 20px 20px 16px;
    line-height: 1;
    border-bottom: 1px solid $grey;
    color: $blue-grey;
  }

  &__contents {
    padding: 20px 0;
  }

  &__description {
    color: $blue-grey;
    font-size: 0.8em;
    padding-left: 20px;
  }

  &__close {
    color: $blue-grey;
    float: right;
  }

  &__trigger-button {
    font-size: 1.2em;
    line-height: 2em;
  }

  // counteract the 16px of padding on copy-text-box
  // to move description text closer
  & .copy-text-box {
    margin-top: -16px;
  }
}
