.copy-text-box {
  position: relative;
  @include space(padding, s);
}

.copy-text-box__input {
  @include borders(solid, 1px);
  @include rounded-corners-default;
  @extend .border-dark-grey;
  @include space('padding', s, top, left);
  @include space('padding', xs, left right);
  color: $dark-grey;
  @include small;
  width: 100%;
  padding: 12px 16px;
}

.copy-text-box__button {
  @include filled-button($blue);
  @include borders(solid, 1px);
  @include label;
  border-radius: 0 5px 5px 0;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 13px 16px 10px;

  &--pressed {
    @extend .copy-text-box__button;
    @include filled-button($light-green);
  }
}

.copy-text-box__copy-it {
  color: $blue-grey;
  font-size: 0.8em;
  padding: 6px 4px 0 4px;
  text-align: center;
  font-weight: 600;
}
