@charset "utf-8";

.course-header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.course-header__title,
.survey-header__title {
  color: $indigo;
  @include x-large;
  margin: 0;
}

h1.course-header__title,
h1.survey-header__title
{
  border-color: transparent;
}

input.course-header__title,
input.survey-header__title {
  @include light;
  border-color: $blue;
}

.course-header__description {
  margin-bottom: 10px;

  & textarea {
    width: 100%;
    resize: none;
  }

  & textarea:focus {
    // prevent scrollbars when resizing
    overflow: hidden;
  }
}
