@charset "utf-8";

/*doc
---
title: Course Status
name: course-status
category: Components
---

[[[plugin:src-file-path]]]

```hbs_example
{{course-status isCompleted=true isFailed=false hasCertificate=true class="{$modifiers}"}}
```

[[[plugin:block-modifiers
- course-status--blue
- course-status--white
- course-status--failed
]]]

*/


.course-status {
  border-radius: 60px;
  border: 4px solid rgba($med-grey, 0.3);
  color: $grey;
  height: 60px;
  width: 60px;
  text-align: center;
  position: relative;

  &__icon {
    font-size: 1.25em;
    display: inline-block;
    line-height: 54px;
    margin-left: 2px;

    &--blue {
      border-color: $blue;
      color: $blue;
    }
  }

  &--failed {
    color: $black;
    border-color: $pink;

    & .progress-circle {
      transform: rotateZ(58deg);

      & .course-status__icon {
        color: $pink;
        transform: rotateZ(-58deg);
        margin-left: -42px;
      }
    }

    & .progress-arc {
      & .progress {
        stroke: $pink;
      }

      & .range {
        stroke: transparent;
      }
    }
  }

  &--blue {
    border-color: $blue;
    color: $blue;
  }

  &--white {
    border-color: $white;
    color: $white;
  }

  &--no-border {
    border-color: transparent;
  }

  &__arrowhead {
    background-color: $pink;
    height: 4px;
    width: 13px;
    position: absolute;
    border-radius: 2px;
    z-index: 99;

    &--top {
      transform: rotateZ(233deg);
      margin-left: -48px;
      margin-top: -3px;
    }

    &--bottom {
      transform: rotateZ(127deg);
      margin-left: -48px;
      margin-top: 5px;
    }
  }
}

.course-list-item .course-status__icon,
.course-list-item--single .course-status__icon {
  color: $blue;
}

.course-list-item--overdue .course-status__icon {
  color: $pink;
}

.course-list-item--locked .course-status__icon {
  border-color: $chart-grey;
  color: $chart-grey;
}

.course-status--completed,
.course-status--completed .course-status__icon {
  border-color: $blue;
  color: $blue;
}

.progress-circle .course-status__icon {
  position: absolute;
  margin-left: -42px;
  margin-top: 3px;
}
