@charset "utf-8";

.course-list {
  @include space(margin, m, top);

  @include breakpoint(small) {
    @include space('margin', m, top);
  }
}

.course-list__group-list {
  @extend .unstyled;
  @extend .bordered;
}

.course-list-item {
  position: relative;
  @include space(padding, l, top bottom);
  @include breakpoint(medium) {
    @include space(padding, s, right);
  }
  @include clearfix;
  padding-left: 80px; // width of status icon plus 20px

  .course-list-item__course-link {
    color: $black;
  }
  .course-list-item__pass-threshold {
    font-size: 14px;
    margin-left: 12px;
  }

  .course-list-item__course-link--milestone {
    @include breakpoint(medium) {
      white-space: normal;
    }

    @include breakpoint(small) {
      @include space(padding, s, top);
      display: block;
    }

  }
}

.course-list-item__survey {
  margin-left: -60px;
  float: left;

  .gs-arrow-right {
    line-height: 52px;
  }
}
.course-list-item__survey-link,
.course-list-item__survey-end-date {
  color: $indigo;
}

.course-list-item__status {
  position: relative;
  margin-left: -80px; // width of status icon plus 20px
  float: left;

  &--not-enrolled {
    position: relative;
    margin-left: -80px; // width of status icon plus 20px
    float: left;
    @include space(padding, m, left);
    @include space(margin, m, right);
  }
}

.course-list h2,
.course-list__wrap h2 {
  @include display(flex);
  @include flex-direction(row);
  align-items: center;
}

.course-list-item__title--centered {
  padding: 12px 0; // align with status icon
}

.course-list-item__external.pill {
  display: inline;
}
.course-list-item__description {
  // override .pure-g's letter spacing
  position:relative;
  letter-spacing: 0;
  font-family: $font-stack;
  font-size: 14px;
  color: darken($dark-grey, 10%);
  word-break: break-word;
  max-height: 38px;
  overflow: hidden;
}

.course-list-item--completed {
  color: $dark-grey;

  .course-list-item__course-link {
    color: $dark-grey;
  }
}

.course-list-item--white {
  color: $white;

  .course-list-item__course-link  {
    color: $blue;
  }
}

.course-list-item--want-to-remove {
  @include shadow;
  @include rounded-corners-default;
  padding-right: 16px;
  padding-left: 96px;
  margin-left: -16px;
  margin-right: -16px;
}

.course-list-item__meta {
  @extend .list--slashed;
  @include light;
  @include small;
  padding-bottom: 10px;

  .course-list-item__course-link {
    @include bold;
    color: $blue;
  }
}

.course-list-item__tags {
  width: 100%;
  letter-spacing: normal;
}


.course-list__group {
  margin-top: 80px;
  @include large-content-area;
  @include centered;
  @include breakpoint(medium) {
    @include space(padding, s, right left);
  }
  @include breakpoint(large) {
    @include space(padding, m, right left);
  }
}

.course-list__group--not-registered .course-list__group-list {
  margin-top: 16px;
  @include rounded-corners-default;
  @include shadow;
  background-color: $light-grey;
}

.course-list__group:first-of-type {
  margin-top: 0;
}

.course-list__group-header {
  @include space(margin, m, bottom);
  @include header-with-colored-block;
}

.course-list__group--overdue {
  .course-list__group-header,
  .course-status__icon,
  .course-list-item__due-date,
  .course-list-item__expires,
  .course-list-item__renew {
    color: $pink;
  }
}
.course-list-item__expires,
.course-list-item__renew {
  font-weight: 600;
}

.course-list__group--next {
  .course-list__group-header,
  .course-list__group-header:before {
    color: $blue;
  }
}

.course-list__group--optional {
  .course-list__group-header:before {
    color: $black;
  }
}
.course-list__group--completed {
  .course-list-item__course-link {
    color: $black;
  }
  .course-list__group-header,
  .course-list__group-header:before {
    color: $dark-grey;
  }
}

.course-list__group--available {
  .course-list__group-header {
    color: $blue;
  }
}

.course-list__group--locked {
  .course-list__group-header {
    color: $blue-grey;
  }

  .course-status {
    .course-status__icon {
      color: $chart-grey;
    }
  }
}

.course-list__group--simple {
  .course-list-item:first-of-type {
    border-top: none;
  }
}

.course-list__group--search {
  .course-list-item__course-link {
    color: $black
  }

  .course-list-item:first-of-type {
    border-top: none;
  }
}


.theme-light .course-list__group--overdue {
  .course-list__group-header,
  .course-status__icon,
  .course-list-item__due-date,
  .course-list-item__expires,
  .course-list-item__renew {
    color: $neutral-danger;
  }
}


.course-list__optional-wrapper {
  background-color: $grey;
  padding: 80px 0;
  margin-top: 80px;
}
.theme-light .course-list__optional-wrapper {
  background-color: $light-grey;
}

.course-list__group--optional .course-list__group-list > li.course-list-item {
  border-color: $med-grey;
}

.course-list__action-btn-wrapper {
  @include space(padding, m, left);
  white-space: nowrap;
}
.course-list__action-btn {
  @include btn;
  @include btn-secondary;
  @include btn-dark;

  .no-touch &:active:not([disabled]) {
    background-color: $white;
  }
}

.course-list__flex-wrap {
  @include fb-vertical-center;
}
.course-list__wrap {
  @include breakpoint(mobile) {
    @include space(padding, s, right);
  }
}

.course-list__item-tags,
.course-list-item__tags {
  font-size: 0.8em;
}
