@charset "utf-8";

.course-locking__item-popup {
  @include space(padding, l, bottom);
  background-color: $white;

  margin-left: 36px;

  p {
    @include space(margin, s, top);
    @include space(margin, m, left right);
    @include space(padding, xl, left right);

    font-size: 16px;
    line-height: 130%;
    position: relative;
    text-align: center;
  }

  .avatar--medium {
    @include space(margin, m, top);
  }

  .header {
    @include space(padding, l, top bottom);

    @include bold;
    @extend .border-b;
    @extend .border-light-grey;

    color: $dark-grey;
    font-size: 18px;
    position: relative;
    text-align: center;
  }

  .name {
    @include space(padding, xs, top bottom);

    font-size: 24px;
    display: block;
    line-height: 130%;
  }
}
