@charset "utf-8";

$max-certificate-width: 775px;
$certificate-ratio:     1.294117647;

.certificate__page {
  background-color: $grey-gradient-stop;
}

.certificate__wrapper {
  position: relative;
  @extend .grey-gradient-bg;
}

.certificate__mask {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  @include transition(opacity 0.2s);
  visibility: hidden;

  @extend .grey-gradient-bg;

  @at-root .is-printing & {
    opacity: 1;
    visibility: visible;
  }
}

.certificate__navigation {
  line-height: 80px;
  height: 80px;

  @include border-grey;
  @extend .border-b-heavy;
  @extend .grey-gradient-bg;

  @include space(margin, l, bottom);
  @include display(flex);
  @include justify-content(space-between);
  @include align-items(center);

  @include breakpoint(small) {
    margin-bottom: 0;
    border-bottom-width: 1px;
  }
}
.certificate__navigation-title {
  @include breakpoint(small) {
    display: none;
  }
}

.certificate__print-button {
  @include space(padding, m, right left);
}

.certificate__exit-link {
  @include bold;
  @extend .label;
  color: $dark-grey;
  @include space(margin, s, left);
  @include breakpoint(small) {
    line-height: 1.25;
  }
}

.certificate__heading {
  @extend .h2;
  @include light;
  @include margin-none;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.certificate {
  background: $white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  max-height: $max-certificate-width * $certificate-ratio;
  max-width: $max-certificate-width;
  position: relative;
  width: 75%;

  @include centered;
  @include space(margin, l, bottom);

  &__navigation{
    .btn:focus{
      outline: 2px solid $input-grey;
    }
  }

  &__container {
    padding: 2em;
    position: absolute;
    top: 10%;
    width: 100%;
  }

  &__header {
    border-bottom: 1px solid $grey;
    margin-bottom: 2.5em;
    padding: 2em 0 2em 0;
  }

  .certificate &__course {
    margin: 0.9em 0 0.9em 0;
  }

  &__content {
    margin-bottom: 2em;
  }

  @include breakpoint(small) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-shadow: none;
  }
}

@media print {
  .certificate__page, .certificate__wrapper {
    background: none;
  }

  .certificate__container {
    top: 15%;
  }

  .certificate__navigation {
    display: none;
  }

  .certificate {
    position: fixed;
    height: 100% !important;
    margin: 0 !important;
    width: 100% !important;
  }

  .is-printing .certificate__mask {
    display: none;
  }
}
