.cover-slide {
  @extend .scroll-y;
  @include full-width;
  display: table;
  position: relative;
}

.cover-slide__outer-content {
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

.cover-slide__content {
  padding: 60px 40px;
  max-width: 900px;
  margin: 0 auto;
}

.cover-slide__heading {
  margin-top: 10px;
  &, & textarea {
    text-transform: uppercase;
    min-height: 60px;
  }
}

.cover-slide__swatch {
  @include linear-gradient(to right, $pink, $purple);
  position: relative;
  display: block;
  left: 0;
  top: -9px;
  width: 50px;
  height: 10px;
}

.cover-slide__exit-link {
  position: absolute;
  padding: 4px;
  max-width: 95%;

  top: 25px;
  left: 20px;
  @include breakpoint(medium) {
    top: 17px;
    left: 12px;
  }

  .cover-slide__exit-link-text {
    visibility: hidden;
  }

  & i {
    visibility: visible;
  }

  &:hover, &:focus {
    outline: none;
    text-decoration: none;

    .cover-slide__exit-link-text {
      border-width: 0 0 1px;
      border-style: solid;
      visibility: visible;
    }
  }
}
