@charset "utf-8";

.csv-preview {
  background-color: $white;
  @include space(margin, xl, top);
  @include space(padding, m);
  @extend .border;
  @include border-grey;
  border-radius: $border-radius-default $border-radius-default 0 0;
  [draggable=true] {
    cursor: move;
  }

  &__checkbox-wrapper {
    @include clearfix;
    @include space(margin, m, bottom);
    @extend .border-b;
    @include border-grey;
  }

  &__field-description {
    @include upcase;
    @include small;
    @include space(margin, s, bottom);

    &__required {
      @extend .downcase;
      color: $blue;
      @extend .medium;
    }
  }

  &__field-list {
    list-style: none;
  }

  &__account-users-header {
    position: relative;
    .csv-preview__checkbox {
      position: absolute;
      right: 1.25em;
      top: 1.25em;
    }
  }

  &__tab-panel-container {
    position: relative;
  }

  .tab-container {
    width: 100%;
    overflow: hidden;
   }

  /*Make react-tabs look like our button-set*/
  .react-tabs {
    position: relative;
    overflow: hidden;

    @include display(flex);
    @include flex-direction(column);
    @include button-set("[role=tab]");
    [role=tab]{
      transition: color .2s $ease-in-out-cubic;
      transition-delay: .15s;
      position: relative;
      overflow: hidden;
    }
    [role=tab]:active {
      border-color: transparent;
    }
    [role=tab][aria-selected=true],
    [role=tab][aria-selected=true]:focus {
      background-color: transparent;
      border-color: transparent;
      color: $blue;
      box-shadow: none;
    }

    [role=tab][aria-selected=true]:focus:after{
      display: none;
    }

    .active-border{
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $blue;
      @include transition(transform .1s $ease-in-out-cubic);
    }
  }
  @mixin move($time, $dist) {
    @include transition-duration($time);
    @include transform(translateX($dist));
  }
  .active-0 {
    .active-border-1 {
      @include move(.1s, 0);
    }
    .active-border-2 {
      @include move(.2s, -100%);
    }
    .active-border-3 {
      @include move(.3s, -200%);
    }
  }

  .active-1{
    .active-border-1 {
      @include move(.2s, 100%);
    }
    .active-border-2 {
      @include move(.1s, 0);
    }
    .active-border-3 {
      @include move(.2s, -100%);
    }
  }

  .active-2{
    .active-border-1 {
      @include move(.3s, 200%);
    }
    .active-border-2 {
      @include move(.2s, 100%);
    }
    .active-border-3 {
      @include move(.1s, 0);
    }
  }

  .react-tabs [role=tablist] {
    @extend .list--numbered;
    clear: both;
    font-size: 0;
    padding-right: 320px;

    > li:before {
      position: absolute;
      left: 1em;
      top: 1.15em;
      font-size: 14px;
    }
    > li {
      padding-left: 2.75em;
      padding-right: 2em;
      margin: 0;
      letter-spacing: 0;
    }
    @include space(margin, m, bottom);
    @extend .border-b;
    @include border-grey;
  }
  .react-tabs [role=tabpanel] {
    display: block !important;
    position: absolute;
    opacity: 0;
    transition-property: opacity, left;
    transition-duration: .2s, .3s;
    transition-timing-function: $ease-in-out-cubic;
    width: 100%;
    z-index: 1;
  }
  @for $i from 0 through 2 {
    //tabs before
    .active-#{$i} [role=tabpanel]:nth-of-type(-n+#{$i+1}) {
      top: 0;
      left: -90%;
    }
    // tabs after
    .active-#{$i} [role=tabpanel]:nth-of-type(n+#{$i+1}) {
      top: 0;
      left: 90%;
    }
    .active-#{$i} [role=tabpanel]:nth-of-type(#{$i+1}) {
      opacity: 1;
      transition-timing-function: $ease-out-cubic;
      left: 0;
      top: 0;
      z-index: 200;
    }
  }
}


.csv-table-container {
  overflow-x: auto;
  @include space(margin, m, bottom);
}
