@charset "utf-8";

/**
 * Styles for the csv-table component.
 */

/* table */.csv-table {
  border-collapse: separate;

  &--deport {
    @include space(margin, xl, top);
    // this background tomfoolery is for the corners of the primary column
    background-color: $grey;
    tr {
      background-color: $white;
    }
  }

  td {
    @extend .border-b-heavy;
    @extend .border-l-heavy;
    @extend .border-r-heavy;
    @extend .border-transparent;
    border-bottom-color: $grey;
    @include space(padding, xs, right left);
    @include space(padding, s, top bottom);

    // assigned columns
    &.assigned {
      background: $light-grey-op40;
    }

    // hover highlight
    &.active, &.primaryActive {
      @extend .border-light-grey;
      background: $light-grey-op40;
    }

    // outline for primary
    &.primary, &.primaryActive {
      background: $light-grey-op40;
      border-left-color: $light-green;
      border-right-color: $light-green;
      &.bottom {
        border-bottom-color: $light-green;
      }
    }

    &.primaryFailed {
      border-left-color: $pink;
      border-right-color: $pink;
      &.bottom {
        border-bottom-color: $pink;
      }
    }
  }

  th.otherDrop, tr.primaryDropDeportRow {
    background-color: $grey;
  }

  th {
    min-width: 275px;
    max-width: 275px;
    @extend .border-l-heavy;
    @extend .border-r-heavy;
    @extend .border-transparent;

    // outline for primary
    &.primary, &.primaryActive {
      @extend .border-light-green;
    }

    &.primaryFailed[class] {
      @extend .border-pink;
    }

    // first row of csv values
    // potentially "headers"
    // (.first-row is NOT dropHeaders)
    &.first-row {
      @include space(padding, xs, right left);
      @include space(padding, s, top bottom);
      @extend .border-b-heavy;
      border-bottom-color: $grey;
      cursor: default;
      font-weight: bold;
      text-align: left;
      &.active, &.primaryActive {
        background: $light-grey-op40;
      }
      &.primary, &.assigned {
        background: $light-grey-op40;
      }
      &.primaryFailed{
        border-bottom-color: $grey;
      }
    }

    // contains primaryHeaders
    &.primaryDrop {
      @extend .border-t-heavy;
      @include border-top-radius(12px);
      overflow: hidden;
    }

  }

  .primaryDropDeport .csv-table-primary-header--assigned{
    padding: 0;
  }
  .primaryDropDescription {
    border: none;
    color: $pink;
    @include x-small;
    @include space(padding, xs);
    div {
      min-height: 18px;
    }
  }
}
