@charset "utf-8";

$dashboard-hero-circle-font-family: Avenir-Medium,sans-serif;

/**
 * The D3-generated visualization widgets on the admin dashboard
 */

.dashboard-viz {

  &--avatar-outline {
    stroke: $med-grey;
    stroke-width: 2px;
    fill: $light-grey;
  }

  // These are the decorations for UserAvatars with the gray halo around them
  // It'd just be a `border` if not for the requirement that there be a 1px gap
  // between the avatar and the halo.
  &--avatar-divhalo {

    &__label a {
      padding-top: 5px;
    }

    &__avatar {
      position: relative;
      background-clip: padding-box;
      border: 3px solid $transparent;
      top: +2px;
      left: +2px;
    }

    &__avatar::after {
      position: absolute;
      top: -3px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      background: $transparent;
      border: 2px solid $med-grey;
      content: '';
      z-index: -1;
      border-radius: 50%;
    }
  }

  &--hero-canvas {
    height: 0;
    width: 100%;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;

      & .multiselect__brush-g {

        & .extent {
          fill: $transparent;
        }

        & .resize line {
          stroke-width: 3px;
        }

        & .resize circle {
          r: 6px;
        }
      }

      & .multiselect__action-g {
        cursor: pointer;

        & .multiselect--select {
          fill: $blue;

          & + text {
            text-anchor: middle;
            font-size: 10px;
            @include upcase;
            fill: $white;
            stroke-width: 0px;
          }
        }

        & .multiselect--cancel {
          stroke: $dark-grey;
          stroke-width: 1px;
          fill: $transparent;

          & + text {
            text-anchor: middle;
            font-size: 14px;
            @include bold;
            @include upcase;
            fill: $dark-grey;
            stroke-width: 0px;
          }
        }
      }

      & .data-g.multiselect__unselected {
        opacity: 0.3;
      }
    }

    .data-circle {
      stroke-width: 0.5px;
    }

    .company-average-g,
    .team-average-g,
    .combined-average-g {
      circle {
        r: 8;
        stroke-opacity: 0.7;
      }
    }

    g.overflow > .data-circle {
      fill: $blue-grey;
      stroke: $black;
    }

    .company-average-g circle {
      fill: $orange;
      stroke: lighten($orange, 30%);
      background: $orange;
    }

    .circle-label {
      font-family: $dashboard-hero-circle-font-family;
      @include small;
      fill: $white;
    }

    .team-average-g circle {
      fill: $bright-blue;
      stroke: lighten($bright-blue, 30%);
    }

    &__average-label {
      @include x-small;
      text-anchor: middle;
    }

    &__percent-label {
      @include x-small;
      @include bold;

      text-anchor: middle;
    }

    &__combined-percent-label {
      @include x-small;
      @include bold;

      text-anchor: middle;
    }

    &__team-percent-label {
      @include x-small;
      @include bold;

      text-anchor: middle;
      fill: $bright-blue;
    }

    &__company-percent-label {
      @include x-small;
      @include bold;

      text-anchor: middle;
      fill: $orange;
    }
  }

  &--procrastination-canvas {
    height: 0;
    width: 100%;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &--activeusers-canvas {
    height: 0;
    width: 100%;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__title {
    text-align: center;
    color: $black;
  }

  &__subtitle {
    text-align: center;
    color: $dark-grey;
  }

  &__outline {
    fill-opacity: 0.7;
    stroke-width: 0.5px;
  }

  &__annotations {
    circle {
      fill: $bright-blue;
      stroke: lighten($bright-blue, 30%);
      stroke-width: 2px;
    }

    &__separator {
      color: $light-green;
      width: 15%;
    }

    &__average-label {
      @include bold;
      @extend %base;
      text-anchor: middle;
      text-transform: uppercase;
      fill: $bright-blue;
    }

    /* currently the "overflow arrow" is not drawn but this is being left in case */
    /* we change our minds later and want to add it back in */
    &__overflow-label {
      @include x-small;
      text-anchor: end;
      text-transform: uppercase;
      fill: $bright-blue;
      display:  none;    /* current design guidance is to omit this */
    }

    &__nodata-label {
      @include x-large;
      @include bold;
      text-anchor: middle;
      text-transform: uppercase;
      fill: $bright-blue;
    }

    &__avatar-name {
      text-anchor: middle;
      fill: $white
    }
  }

  &__nactive-label {
    @include bold;
    @extend %base;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;

    hr {
      width: 15%;
      height: 2px;
      border: none;
      border-top: 2px solid $grey;
    }
  }

  &__axis {
    path {
      fill: none;
      stroke: $med-grey;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }

    &__minor-tick {
      stroke: $med-grey;
      stroke-width: 0.5px;
    }

    &__major-tick {
      stroke: $med-grey;
      stroke-width: 0.5px;
    }

    &__minor-label {
      display: none;
    }

    &__major-label {
      fill: $med-grey;
    }
  }

  &__axis-hero {
    path {
      fill: none;
    }

    line {
      stroke: $med-grey;
      stroke-width: 1px;
    }

    &__minor-label {
      display: none;
    }

    &__major-label {
      fill: $black;
    }
  }
}
