.dashboard-text-widget {
  text-align: center;
  max-width: 22rem;
  margin: 0 auto;
  font-family: $font-stack;
  color: $dark-grey;

  &__details {
    @include small;
    text-align: left;
    display: block;
  }

  &__header {
    @include x-medium;
    max-width: 16rem;
    margin: 0 auto;
    line-height: 1.4;
  }

  &__primary-text {
    @include space(padding, m, bottom);
    @include space(margin, m, top bottom);
    @include x-large;
    @include bold;

    color: $light-green;
    display: inline-block;
    line-height: 1;
    position: relative;

    /* Smaller border code */
    &::before {
      content: '';
      border-bottom: 1px solid $grey;
      width: 80%;
      left: 10%;
      bottom: 0;
      position: absolute;
    }
  }
}
