.days-of-week__day {
  display: inline-block;
  margin-right: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}
.days-of-week__day__checkbox {
  display: block;
  margin: 0;
}
.days-of-week__day__label {
  display: block;
  margin-top: 5px;
  text-align: center;
  color: $dark-grey;
  font-weight: bold;
  white-space: nowrap;
}