.editable-textarea-frd {
  @include rounded-corners-default;
  font-size: 1em;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;

  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 4px;
  margin: -6px;
  overflow: hidden;

  &:not(:focus) {
    resize: none;
  }

  &:focus {
    @include transition(box-shadow, 0.3s, $ease-in-out-back);

    outline: none;
    overflow: auto;
    border-color: $blue;
    box-shadow: 0 0 10px 2px $indigo-op25;
    background: $white;
    color: $indigo;
  }
}
