@charset "utf-8";

// ashes
.editable-text {
  position: relative;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(177, 213, 249, 0.8);
  }

  input {
    line-height: 1.5;
    padding: 0;
  }

  &__wrapper {
    position: relative;
    textarea {
      border: none;
      line-height: 1.5;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
    }
  }

  &__ruler {
    min-height: 1.5em;
    line-height: 1.5;
    position: relative;
    visibility: hidden;
  }

  &--grow-in-place,
  &--table-cell {
    display: inline-block;
    position: relative;

    input {
      @include rounded-corners-default;
    }

    input:focus {
      outline: none;
    }
  }

  &--grow-in-place {

    input {
      box-shadow: 0 0 10px 2px $indigo-op25;
      box-sizing: content-box;
      text-align: right;
      width: 3em;

      @include space(padding, xs);
    }

    input:focus {
      border: 2px solid $blue;
      outline: none;
    }
  }

  &--table-cell {
    input {
      width: 100%;
      box-shadow: 0 0 12px rgba(0, 0, 0, .2);

      @include space(padding, s);
    }

    input:focus {
      border: none;
    }
  }

  &--header {
    input {
      border-radius: 5px;
      box-shadow: 0 0 10px 2px $indigo-op25;
      padding: 8px;
    }

    input:focus {
      border: none;
      outline: none;
    }
  }

  &--editor {
    input {
      border-radius: 5px;
      color: $blue-grey;
      padding: 8px;
    }

    input:focus {
      border: 2px solid $blue;
      outline: none;
      margin: 4px 0 3px 0;
    }
  }

  .screenreader-only {
    left: 0;
    top: 0;
  }
}

// React version. Main differences are that there is no textarea, and no
// --table-cell mode.
.EditableText {
  position: relative;
  border: 2px solid transparent;

  &__Content {
    border: 2px solid transparent;
  }

  &__Editor {
    margin-top: 0px;

    display: inline-block;
    width: 100%;
  }

  &__Input {
    border: 2px solid transparent;
    width: 100%;

    &--grow-in-place {
      @include rounded-corners-default;
      display: inline-block;
      position: relative;
      box-shadow: 0 0 10px 2px $indigo-op25;
      box-sizing: content-box;
      text-align: right;
      width: 3em;

      @include space(padding, xs);
    }

    &--grow-in-place:focus {
      border: 2px solid $blue;
      outline: none;
    }
  }

  &__Input:not(:focus) {
    background-color: transparent;
    padding: 4px 1px 3px 0;
  }

  &__Input:focus {
    padding: 0;
    color: $blue-grey;
    border: 2px solid $blue;
    border-radius: 5px;
    outline: none;
    margin: 0;
    line-height: 1.5;
  }

  &--grow-in-place {
    display: inline-block;
    position: relative;
  }

  .screenreader-only {
    left: 0;
    top: 0;
  }
}
