@charset "utf-8";

.enrollment-list {
  clear: both;
  margin-bottom: 60px; // Padding added to allow date select popdown room
}

.enrollment-list-table__name {
  width: 300px;
}
.enrollment-list-table__progress {
  width: 100px;
}

.enrollment-list-item {
  background: transparent;
  border-bottom: 1px solid $grey;
  @include transition(background 6653ms linear);
}

.enrollment-list-item__progress svg {
  margin-top: 4px;
  @include centered;
  display: block;
}

.enrollment-list-item__popup-cursor {
  cursor: pointer;
}

.enrollment-list-item__completed {
  background: $dark-grey;
  border-radius: 50%;
  color: $white;
  font-size: 12px;
  height: 24px;
  margin: 6px auto 0 auto;
  padding-top: 3px;
  text-align: center;
  width: 24px;
}

.enrollment-list-item__due-date,
.enrollment-list-item__renew-date {
  position: relative;
  min-height: 1em;
}

.enrollment-list-item__renew-date--active {
  color: $black;
}

@include breakpoint(medium) {
  .enrollment-list-item {
    position: relative;
  }

  .enrollment-list-item__user,
  .enrollment-list-item__score,
  .enrollment-list-item__due-date,
  .enrollment-list-item__renew-date,
  .enrollment-list-item__progress,
  .enrollment-list-item__delete-button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
  }

  .enrollment-list-item__user {
    overflow: auto;
    width: 65%;
    padding-top: 1em;
    padding-left: 40px;
  }

  .enrollment-list-item__score {
    display: none;
  }

  .enrollment-list-item__due-date,
  .enrollment-list-item__renew-date {
    float: left;
    position: relative;
    left: 3.25em;
    top: -.75em;
  }

  .enrollment-list-item__progress,
  .enrollment-list-item__delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .enrollment-list-item__delete-button {
    padding: .5em;
  }

  .enrollment-list-item__progress {
    right: 5em;
  }
}

.enrollment-list-item__user {
  padding-left: 40px;
  .enrollment__user-avatar {
    display: inline-block;
    margin-left: -32px;
    margin-right: 8px;
  }
}

.enrollment-list-item__score {
  .enrollment-list-item__score__date {
    float: right;
    width: 100%;
  }
}

.flexbox .enrollment-list-table div.enrollment-list-item__progress,
.flexbox .enrollment-list-item__delete-button:not(td) {
  height: 100%;
  @include fb-vertical-center;
}

.enrollment-list-table {
  .enrollment-list-item--overdue  { color: $pink; }
  .enrollment-list-item--new      { background: $pale-yellow; }
  .enrollment-list-item--complete { color: $dark-grey; }
  .enrollment-list-item__header {
    @include breakpoint(medium) {
      display: none;
    }
  }
  @include breakpoint(medium) {
   div.sortable-table__tr {
      @include clearfix;
      @include space(padding, xs);
      display:block;
      border-bottom: 1px solid $grey;
    }
  }
}

.enrollment-completion-popup {
  border-radius: 10px;

  .popup-user-container {
    border-bottom: 1px solid $grey;
  }

  .popup-user-avatar {
    margin: auto;
    height: 44px;
    width: 44px;
    line-height: 44px;
  }

  .qtip-content {
    border-radius: 10px;
  }

  .qtip-tip {
    background: $white;
  }
}
