@charset "utf-8";

.error {

  &__content {
    @include centered;
    @include text-center;
    @extend .full-min-height;
    width: 620px;

    @include breakpoint(medium) {
      width: 100%;
    }

    &__message {
      @extend .border-tb;
      @include border-grey;
      @include space(padding, l, top);
      padding-bottom: 40px;

      @include breakpoint(medium) {
        border: 0px;
      }

      h2 {
        @extend .xx-large;
        font-weight: normal;
        margin-bottom: 0px;
        color: $pink;
        @include breakpoint(medium) {
          line-height: 42px;
          margin-bottom: 16px;
        }
      }

      p {
        @include small;
        color: $blue-grey;

        @include breakpoint(medium) {
          padding: 8px 24px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__caution {
      text-transform: uppercase;
      @include space(padding, xl, top);
      @include space(padding, m, bottom);
      @include small;
      color: $blue-grey;
      i {
        @include x-small;
      }

      @include breakpoint(medium) {
        @include indigo-gradient;
        color: $white;
        text-align: left;
        font-size: 36px;
        padding: 56px 16px 8px;
        i {
          display: none;
        }
      }
    }
  }
}
