.error-developer-body {
  background: #f0f0f5;
}

.error-developer-head {
  background: #20202a;
  color: #fff;
  padding: 16px;
}

.error-developer-head__location {
  color: #ccc;
  font-size: 16px;
}

.error-developer-head__location b {
  color: #dd5454;
  font-weight: bold;
}