@charset "utf-8";

.factoid-editor {
  @include centered;
  width: $max-page-width;

  &__header {
    @extend .border-b;
    @extend .border-dark-grey;
    @include space(padding, s, bottom);
    min-height: 48px;
  }

  &__title-wrapper {
    min-height: 56px;
  }

  .placeholder {
    .factoid-editor__title-label {
      color: $dark-grey;
    }

    .EditableText--grow-in-place {
      display: block;
    }

    .EditableText__Input--grow-in-place.factoid-editor__title-input {
      width: inherit;
      display: block;
    }
  }

  &__title {
    @include padding-none;
    @include margin-none;
    @include space(margin, s, left);
    float: left;
    width: 480px;

    .EditableText--grow-in-place {
      vertical-align: top;
    }
  }

  &__title-label {
    @extend .h3;
    position:relative;
  }

  &__title-input.EditableText__Input {
    @include space(padding, xs, top right bottom);
    top: -6px;
    margin-left: -8px;
    margin-right: -6px;
  }

  .phrase-list {
    @extend %list--inline;

    .phrase-list__wrapper {
      margin: 0px;
      position: relative;

      .phrase-list__joiner {
        color: $dark-grey;
        @extend .overflow-hidden; /* for chrome */
        @include space(padding, xs);
        @include space(margin, m, top);
        @include btn--reset();
        @include light-text-dark-bg;
        font-size: 20px;
        line-height: 20px;
        position: relative;
        top: 2px;
      }

      .phrase-list__item, .phrase-list__divider, phrase-list__vertical-line {
        @extend .overflow-hidden; /* for chrome */
        @include space(padding, xs, top bottom);
        @include space(margin, m, top);
        @include transition(all 0.2s $ease-out-back);
        @include light-text-dark-bg;
        padding-top: 12px; /* override */
        cursor: pointer;
        color: $dark-grey;
        background: transparent;
        border: 1px solid $dark-grey;
      }

      .phrase-list__item {
        @include space(padding, s, right left);
        @include rounded-corners-default;

        &.no-border-right {
          border-right: 0px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        &.no-border-left {
          border-left: 0px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

      .phrase-list__divider {
        padding-right: 0;
        padding-left: 0;
        border-left: 0px;
        border-right: 0px;
        margin-left: -6px;
        margin-right: -6px;
        text-align: center;
        width: 38px;
      }

      &--distracted {

        .phrase-list__vertical-line {
          display: inline-block;
          background-color: $dark-grey;
          opacity: 0.4;
          text-align: center;
          max-width: 1px;
          padding: 13px 0px 9px 0px;
          cursor: pointer;
        }

        .phrase-list__item {
          @include filled-button($dark-grey);
          color: $white;
          text-align: center;
          outline: none;
        }

        .phrase-list__divider {
          @include filled-button($dark-grey);
          color: $white;
        }
      }

      &--editing {
        .phrase-list__item,
        .phrase-list__divider {
          color: $blue;
          border-color: $blue;
        }
      }
      &--distracted.phrase-list__wrapper--editing {
        .phrase-list__vertical-line,
        .phrase-list__item,
        .phrase-list__divider {
          background-color: $blue;
          color: $white;
        }
      }
    }
  }
}

.phrase-list .factoid-distractor-list {
  background: $white;
  @extend .absolute;
  overflow: hidden;
  top: 110%;
  left: 0;
  width: 200px;
  @include rounded-corners-default;
  @include shadow;

  li {
    @include block;
    @include relative;
    @include full-width;
    margin: 0;
  }

  &__input.EditableText__Input {
    @include space(padding, s);
    padding-right: 40px;
    border-color: transparent;
    margin: 0;
    width: 100%;
    outline: 0;
  }

  &__btn--delete {
    @include btn--reset();
    @include space(padding, s);
    @extend .absolute;
    right: 0;
    top: 0;
    i:before {
      font-weight: bold;
    }
  }

  &__editor {
    @include transition(box-shadow, 0.3s, $ease-in-out-back);
  }

}

.phrase-list__wrapper--has-previous .factoid-distractor-list {
  left: 34px;
}
@include style-placeholder(".factoid-distractor-list__input") {
  color: $grey;
}
