@charset "utf-8";

.fake-chrome__header {
  background-color: #e1e1e1;
  padding: 8px;
}
.fake-chrome__stoplights {
  float: left;
  margin: 6px 0;
}
.fake-chrome__stoplight {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 5px 0 4px;
  border-radius: 5px;
}
.fake-chrome__stoplight--close {
  background-color: #f96462;
}
.fake-chrome__stoplight--min {
  background-color: #fcc04e;
}
.fake-chrome__stoplight--full {
  background-color: #3dc64f;
}
.fake-chrome__address {
  margin: 0 auto;
  width: 60%;
  background-color: rgba($white, 0.75);
  padding: 2px 0;
  text-align: center;
  box-shadow: inset 4px 4px 3px -4px rgba(0,0,0,0.3);
  color: $med-grey;
  font-size: 75%;
}
.fake-chrome__btn {
  float: right;
  font-weight: bold;
  margin-right: 6px;
  color: $med-grey;
}
