.file-input {
  position: relative;

  input {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.01;
    border: 2px solid transparent;
  }

  input:focus {
    outline: none;
    border-color: $blue;
  }

  &__button {
    &.btn {
      @include btn;
    }
    @include btn--reset();
    position: relative;
  }
}
