.filter-selector {
  @include space(padding, s, bottom);
  color: $blue-grey;
}

.filter-selector .checkbox {
  display: block;
  @include space(padding, s, right left);
  @include space(padding, xs, top bottom);
}

.filter-selector .checkbox--focused {
  background-color: $blue;
  color: $white;
}

.filter-selector .checkbox--checked.checkbox--focused .checkbox__label-wrapper {
  color: $white;
}
