.filter-search {
  @extend .flex-row;
  @include align-items(center);
  @include transition(all 0.1s);
  height: 0;
  margin: 0;
  opacity: 0;
  transform: translate3d(0, -50%, 0);

  &--active {
    height: 100%;
    margin: $space-l 0;
    opacity: 1.0;
    transform: translate3d(0, 0, 0);
  }

  &__field-container {
    @include flex-grow(1);
  }

  &__controls {
    @include space(margin, xs, left);
    color: $dark-grey;
  }
}

.filter-search-cancel {
  @include btn--reset;
  padding: $space-xs;
}

.filter-search-field {
  /*
   * I've noted the provenance of the styles this was derived from. It seems
   * that, at some point, it would be worth making a unified field
   * theory-for search fields, that is.
   */

  // components/autocomplete.scss:.autocomplete
  display: inline-block;

  // components/search_bar.scss:.search-bar
  @include rounded-corners-default;
  width: 100%;

  // components/search_bar.scss:.search-bar--group-add
  background: $white;
  border: 2px solid $grey;

  // components/search_bar.scss:.search-bar--group-add .autocomplete
  padding: 0;

  &__input {
    // components/autocomplete.scss:.autocomplete__input
    @include rounded-corners-default;
    @include space(padding, xs);
    width: 100%;

    &:focus {
      @include transition(box-shadow, 0.3s, $ease-in-out-back);
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 10px 2px $indigo-op25;
      background: $white;
    }

    // components/search_bar.scss:.search-bar--group-add input
    border: none;

    // components/search_bar.scss:.search-bar--group-add .autocomplete__input
    padding: 16px 8px;
  }
}

.filter-search-toggle {
  display: none;

  @include breakpoint(larger-than-phones) {
    @include btn--reset();
    color: $dark-grey;
    display: inline;
    padding-right: $space-xl;

    &.filter-search-toggle--active {
      color: $blue;
    }

    & .gs-search {
      font-size: $gs-1x-size;
    }
  }
}
