.account-expiration-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  white-space: initial;

  &__top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .btn {
      @include space(margin, m, top left bottom right);
    }
  }

  &__content {
    z-index: 2;
    text-align: center;
    padding-left: 96px;
    padding-right: 96px;
    @include breakpoint(small) {
      @include space(padding, s, right left);
    }

    p {
      @include space(margin, m, bottom);
    }

    .btn:nth-child(2) {
      @include space(margin, m, left);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/bridge-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
  }
}

.next-to-sidebar-panel {
  .account-expiration-overlay {
    left: $sidebar-width;
  }
}

.sidebar-is-closed .next-to-sidebar-panel {
  .account-expiration-overlay {
    left: $sidebar-width-closed;
  }
}
.sidebar-is-expanded .next-to-sidebar-panel {
  .account-expiration-overlay {
    left: $sidebar-width-expanded;
  }
}
.sidebar-is-mobile .next-to-sidebar-panel {
  .account-expiration-overlay {
    left: 0;
  }
}

.free-trial-countdown-toast {
  white-space: nowrap;
  text-align: right;
  display: flex;

  & > p {
    @include space(padding, s, top left bottom right);
    white-space: normal;
    margin-left: auto;
  }

  & > button {
    @include space(margin, s, right);
  }
}

.free-trial-running-out-toast {
  background-color: $blue;
  border-radius: $border-radius-default;
  display: flex;
  align-items: center;
  clear: both;

  @include space(margin, m, bottom);
  @include space(padding, m, top left bottom right);

  &__text {
    p {
      @include bold;
      font-size: 1.3em;
      word-break: break-word;
    }
  }

  &__all-buttons {
    margin-left: auto;
    white-space: nowrap;
    display: flex;
  }

  &__action-buttons {
  }

  @include breakpoint(medium) {
    display: block;

    &__text {
      @include space(margin, m, right);
    }

    &__all-buttons {
      @include space(margin, xs, top);
      text-align: center;
      white-space: normal;
      display: block;

      .btn {
        @include space(margin, s, top);
      }
    }

    .close-button {
      position: absolute;
      top: 36px;
      right: 36px;
    }
  }
}
