.grouped-tag-listings {
  @include space(padding, xs, left right);
  @include space(padding, m, top);

  &__group-name {
    @include x-medium;
    font-weight: bold;
    text-transform: uppercase;
  }

  .tag-pill {
    @include user-select(none);
    cursor: pointer;

    &:hover {
      background-color: $grey;
    }
  }

  .tag-pill--highlight {
    color: $white;
    border: 1px solid $blue;
    background-color: $blue;
    cursor: pointer;

    &:hover {
      background-color: $blue-dk;
    }
  }
}
