@charset "utf-8";

%header-icon {
  @extend %avatar--medium;
  @extend .black-bg;
  color: $white;

  float: left;
  text-align: center;
  margin-left: -96px;

  &:before {
    vertical-align: middle;
    font-size: 32px;
  }
}

%quiz-question-icon {
  color: $white;
  background-color: $blue-grey;
  @extend .avatar--small;
  float: left;
  text-align: center;
  @include space(margin, xs, right);
}

.quiz-question--vocabulary {
  @extend %quiz-question-icon;
  @extend .gs-glossary;
}

.quiz-question-icon--ordered-list {
  @extend %quiz-question-icon;
  @extend .gs-ol4;
}

.quiz-question-icon--factoid {
  @extend %quiz-question-icon;
  @extend .gs-lightbulb;
}

.quiz-question-icon--short-answer {
  @extend %quiz-question-icon;
  @extend .gs-help;
}
