// TODO: convert course-list styles to learning-item-list

@charset "utf-8";

.author-user .learning-item-list {
  @include space(margin, m, top);

  @include breakpoint(small) {
    @include space('margin', m, top);
  }
}

.learning-item-list {
  &__action-btn-wrapper {
    @include space(padding, m, left);
  }

  &__action-btn {
    @include btn;
    @include btn-secondary;
    @include btn-dark;

    .no-touch &:active:not([disabled]) {
      background-color: $white;
    }
  }
}

.learning-item__survey {
  @include space(padding, m);

  @include display(flex);
  @include justify-content(flex-start);
  @include align-items(center);

  &__wrapper {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(center);

    @include flex(1 1 auto);
  }

  &__status {
    @include flex(0 0 auto);
  }

  &__details {
    @include flex(1 1 60%);
    @include space(padding, s);
    color: $indigo;
  }

  &__title {
    @extend .h3;
    margin: 0;
  }

  &__link {
    color: $indigo;
  }

  &__button-wrapper {
    @include space(margin, s, left);
  }
}

.learning-item-status {
  position: absolute;
  top: 32px;
  right: -5px;
  font-size: 1.3em;
  color: $chart-grey;
  text-shadow: -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white;

  &__certificate {
    @extend .gs-certificate;
    color: $blue;
    font-size: 1.5em;
  }
}
