.learner-course-finished {
  @include indigo-gradient;
  color: $white;

  .course-list-item__course-link {
    color: $dark-grey;
  }

  &__course-list {
    .course-list-item--overdue {
      .course-status__icon {
        color: $red;
      }
    }
  }
}

.learner-course-finished__completed-text {
  color:$dark-grey;
  @include space(margin, m, bottom);
  @include breakpoint(medium) {
    @include space(margin, s, left);
  }
}
.theme-light .learner-course-finished {
  background: $light-grey;
  color: $indigo;
}
.theme-light .learner-course-finished.bordered {
  > li {
    border-bottom: 1px solid $med-grey;
  }

  > li:first-of-type {
    border-top: 1px solid $med-grey;
  }
}
