@charset "utf-8";

.learner-program {
  &__header, &__header--collapsed {
    @include space(padding, xl, top right left);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .course-list-item__status--not-enrolled {
    padding-left: 0;
  }

  &__header {
    @include text-center;

    height: 500px;
    padding-bottom: 140px;

    @include breakpoint(mobile) {
      @include space(padding, l, top right left);
      padding-bottom: 70px;
      height: 100vh;
    }

    &__content {
      @include breakpoint(mobile) {
        @include display(flex);
        @include flex-flow(column nowrap);
        @include justify-content(space-between);
        height: 100%;
      }
    }

    &__content * {
      animation: fadeIn 0.7s forwards ease-out;
    }

    hr {
      @include space(margin, m, top bottom);
      border: 1px solid rgba(255, 255, 255, 0.25);
      width: 20%;

      @include breakpoint(mobile) {
        display: none;
      }
    }

    &__launch-button, &__launch-button--complete {
      @include space(margin, xl, top);
      @include btn;

      @include breakpoint(mobile) {
        @include align-self(center);
        @include flex(0 0 auto);
        margin-top: 0;
      }
    }

    &__launch-button {
      @include btn-filled;
    }

    &__launch-button--complete {
      // use rgba because animations overwrite opacity
      color: $white-op40;
      border-color: $white-op40;
    }

    &__exit-link {
      @extend .label;
      @include bold;

      color: $white;
      float: left;

      @include breakpoint(mobile) {
        @include align-self(flex-start);
        @include space(padding, s, bottom);
      }
    }

    &__description {
      color: $white;
      margin: 0 auto;
      max-width: 900px;

      @include breakpoint(mobile) {
        display: none;
      }
    }

    &__summary {
      @include space(padding, s, top);
      color: $white;

      @include breakpoint(mobile) {
        padding-top: 0;
        margin: 0;
        font-size: 1.25em;
        & li {
          @include space(padding, xxs);
        }
      }
    }

    &__title {
      @include space(padding, xs, bottom);
      @include space(padding, xl, top);
      @extend .xx-large;
      @include bold;

      margin-bottom: 0;
      clear: both;
      color: $white;
      line-height: 1.0;
      overflow: hidden;
      max-height: 123px; // allows for 2 lines of title text

      @include breakpoint(mobile) {
        @include flex(1 1 auto);

        $line-height: 1.5;
        $lines: 5;

        line-height: $line-height;
        max-height: #{$line-height * $lines}em;
        padding: 0;
        font-size: 2em;
        overflow: hidden;
      }
    }
  }

  &__header--collapsed {
    height: 150px;
    overflow: hidden;

    animation: resize 0.4s forwards ease-out;

    &__content {
      animation: slideIn 0.4s forwards ease;
    }

    &__launch-button {
      @include btn;
      @include btn-filled;
      margin-top: -50px;
      float: right;
    }

    &__launch-button--complete {
      @include btn;

      margin-top: -50px;
      // set opacity to 1 because button:disabled rule
      // overrides opacity (sets to 0.4)
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);

      float: right;
    }

    &__exit-link {
      @include bold;

      color: $white;
      font-size: 0.6em;
      margin-top: -5px;
      padding: 1.5em 2em;
      float: left;
    }

    &__summary {
      @include bold;
      @include small;
      color: $white;
      margin: 6px 0 0 102px;
    }

    &__title {
      @include x-large;
      @include bold;
      @extend .truncated;

      color: $white;
      line-height: 1.2;
      margin: 0 0 0 100px;
      max-width: 65%;

      @include breakpoint(x-large) {
        max-width: 75%;
      }
    }
  }

  &__expander {
    position: relative;
    min-height: 150px;
    height: 500px;

    @include breakpoint(mobile) {
      min-height: 0;
      height: 0;
    }
  }

  &__item-list {
    position: relative;
    padding-top: 50px;
    background-color: white;

    .course-list-item--overdue {
      .course-status__icon {
        color: $red;
      }
    }

    @include breakpoint(mobile) {
      @include space(padding, m, top);
      margin-top: 100vh;
      min-height: 100vh;
    }
  }

  &__arrow-icon {
    color: $white-op40;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
  }
}

.learner-program__header-animation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 500px;

  @include breakpoint(mobile) {
    height: 100%;
  }

  &__container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    mix-blend-mode: overlay;
    opacity: 0.25;
  }

  &__rect {
    width: 400%;
    height: 100%;
    fill: rgb(240,240,240);
    mix-blend-mode: multiply;
    transform-origin: center center;
  }
}

@keyframes resize {
  from {
    height: 135px;
  }
  to {
    height: 150px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0);
  }
}
