@charset "utf-8";

/**
 * Styles for the learner-import interface.
 */

.learner-import-container {
  background-color: $grey;
  @extend .full-min-height;
  width: 100%;
  overflow: hidden;

  .learner-import-summary, .learner-import-progress {
    text-align: center;
  }
  .learner-import-controls {
    @include space(margin, xxl, bottom);
    @include space(padding, xxl);
  }

  .learner-import-wizard {
    background-color: $white;
    @include space(margin, xxl, top bottom);
    @include space(padding, xxl);
    min-height: 80%;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius-default;
    width: 95%;

    .learner-import-info {
      @include centered;
      margin-top: auto;
      margin-bottom: auto;

      .h2 {
        @include x-large;
      }

      ul {
        @include space(margin, xl, bottom);
        list-style: none;
        text-decoration: none;
        font-size: 120%;
      }

      button {
        @include space(margin, m, top);
      }
    }
  }
}

.learner-import-controls {
  border-radius: $border-radius-default $border-radius-default 0 0;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
