.library-list-item-tags {
  &.tag-listing {
    list-style: none;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;

    margin-top: 16px;
    margin-bottom: 0;
  }

  &__box {
    display: inline-block;
    width: 198px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    padding-bottom: 1px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%));
    }
  }
}

.library-list-item-tags__tag.tag-pill {
  margin-right: 0;
  margin-bottom: 0;
}

.library-list-item-tags__see-more-btn {
  vertical-align: middle;
  color: $blue;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 8px 0 8px 8px;
  background-color: $white;
  font-weight: 600;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    bottom: 0;
    width: 30px;
    @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%));
  }

  &--with-matching {
    color: $purple;
  }
}

.library-list-item-tags__tag.tag-pill + .library-list-item-tags__tag.tag-pill {
  margin-left: 10px;
}

.library-list-item-tags__popup {
  position: absolute;
  width: 240px;
  background: $white;
  @include space(padding, s, top left);
  top: 0;
  right: 0;

  @include rounded-corners-default;
  @include shadow;

  .tag-listing {
    font-size: inherit;
    color: $dark-grey;
    @include space(margin, s, top bottom);
  }

  -webkit-animation-name: anime__bounceIn;
  animation-name: anime__bounceIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.library-list-item-tags__popup-header {
  color: $dark-grey;
  font-weight: 700;
  font-size: 12px;
  @include space(margin, s, bottom);
}

.library-list-item-tags__popup-close-btn {
  position: absolute;
  right: 1rem;
  font-size: 6px;
}

// Adapted from animate.css:
//
// https://github.com/daneden/animate.css/blob/master/animate.css#L646
@keyframes anime__bounceIn {
  from, 40%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
