.live-course-session-list {
  .sortable-table__tr {
    position: relative;
  }
  &__date {
    width: 170px;
    input {
      width: 100%;
    }
    @include breakpoint(medium) {
      width: 100%;
      input {
        width: auto;
      }
    }
  }
  &__location {
    width: 20%;
    @include breakpoint(medium) {
      width: auto;
    }
  }

  &__placeholder {
    color: $blue;
    @include breakpoint(medium) {
      position: static;
    }
  }

  &__input {

    @include breakpoint(medium) {
      display: inline-block;
    }

    label {
      position: relative;
      display: block;
      @include breakpoint(medium) {
        display: inline-block;
        padding: 0;
      }
    }

    input {
      border: none;
      box-shadow: 0 0 12px rgba(0, 0, 0, .2);
      box-sizing: content-box;
      text-align: center;

      &:focus {
        border: none;
        outline: none;
      }

      @include rounded-corners-default;
      @include space(padding, s);
      @include breakpoint(medium) {
        position: relative;
        left: 0;
      }
    }
  }

  &__time {
    white-space: nowrap;

    input {
      width: 80px;
    }
  }

  .date-input__selector--link {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.live-course-session-list__seats input {
  width: 80px;
}

.live-course-session-list__seats__number,
.session-list__link
{
  @include breakpoint(medium) {
    @include space(padding, s, right left);
  }
}


.live-course-session-list__remove-btn {
  @include breakpoint(medium) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.live-course-session-list__registration-header {
  width: 40px;
}

.live-course-session-list__registration-btn {
  border: 0;
  background: none;
  // size of icon, prevent list from expanding when adding link btn
  height: 34px;
  padding: 0;
}

@include style-placeholder(".live-course-session-list__input input") {
  color: $grey;
}
