.lynda-course-summary{
  $itemPadding: $space-s $space-m;
  $courseWidth: 230px;
  $courseHeight: 250px;
  $courseMargin: $space-xs;
  $courseHeaderHeight: 45px;
  margin: $courseMargin;
  background: $white;
  float: left;
  width: $courseWidth;
  color: $dark-grey;
  font-size: .87em;
  border-radius: $border-radius-default;
  box-shadow: 0px 2px 1px -1px $black-op40;
  position: relative;

  &--pending,
  &--is-checked,
  &--is-added {
    .lynda-course-summary__course-header {
      background-color: $blue;
      &:after {
        display: block;
        border-color: $blue;
      }
      .lynda-course-summary__course-header__time {
        display: none;
      }
      .lynda-course-summary__course-header__checkbox {
        display: inline-block;
      }
      .lynda-course-summary__course-header__action-label {
        display: block;
      }
    }
  }
  &--pending,
  &--is-added {
    .lynda-course-summary__course-header,
    .lynda-course-summary__course-header:hover:not(.lynda-course-summary__course-header--no-hover) {
      background-color: $chart-grey;
      cursor: default;
      &:after {
        border-color: $chart-grey;
      }
    }
  }

  &__course-header {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    padding: $itemPadding;
    background-color: $black;
    cursor: pointer;
    color: $white;
    position: relative;
    height: $courseHeaderHeight;
    @include display(flex);
    @include align-items(center);

    &--no-hover {
      @extend .lynda-course-summary__course-header;
      &--preview {
        background-color: $med-grey;
      }
    }

    &__checkbox {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      .checkbox__display-checkbox {
        height: 25px;
        width: 25px;
        font-size: .87em;
        background: transparent;
        position: absolute;
        top: 10px;
        left: 11px;
      }
    }

    &__loader {
      position: relative;
      left: 78px;
      top: 20px;
    }

    &__action-label {
      display: none;
      font-size: 0.87em;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 178px;
    }

    &:after {
      border: 2px solid transparent;
      border-top: none;
      position: absolute;
      content: '';
      display: none;
      box-sizing: border-box;
      border-bottom-left-radius: $border-radius-default;
      border-bottom-right-radius: $border-radius-default;
      width: $courseWidth;
      height: $courseHeight - $courseHeaderHeight;
      left: 0;
      top: $courseHeaderHeight;
      pointer-events: none;
      cursor: default;
    }

    &:hover:not(.lynda-course-summary__course-header--no-hover) {
      background-color: $blue;
      &:after {
        display: block;
        border-color: $blue;
      }
      .lynda-course-summary__course-header__image {
        opacity: .3;
      }
      .lynda-course-summary__course-header__time {
        display: none;
      }
      .lynda-course-summary__course-header__checkbox {
        display: inline-block;
      }
      .lynda-course-summary__course-header__action-label {
        display: block;
      }
    }
    @include breakpoint('small-tall') {
      .lynda-course-summary__course-header__checkbox,
      .lynda-course-summary__course-header__action-label {
        display: inline-block;
      }
      .lynda-course-summary__course-header__time {
        margin-left: $space-m;
      }
    }
  }

  &__course-inner {
    color: darken($dark-grey, 20%);
    padding: $itemPadding;
    display: inline-block;
    height: $courseHeight - $courseHeaderHeight;
    width: 100%;
  }
  &__course-title {
    margin-bottom: 12px;
    max-height: 73px;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    &__link {
      color: $indigo;
      font-size: 1.2rem;
      line-height: 1.3;
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }
  &__course-author {
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__difficulty {
    margin-top: 2px;
    &__inner {
      display: inline;
      margin-right: 3px;
      .v-bar {
        display: inline-block;
        width: 5px;
        height: 14px;
        background-color: $light-grey;
        margin-right: 2px;
      }
      &.beginner {
        .v-bar:first-child {
          background-color: $dark-grey;
        }
      }
      &.intermediate {
        .v-bar:nth-child(1), .v-bar:nth-child(2) {
          background-color: $dark-grey;
        }
      }
      &.advanced {
        .v-bar {
          background-color: $dark-grey;
        }
      }
    }
  }
}
