.lynda-breadcrumbs{
  font-size: .87em;
  @include space(padding, xxs, bottom);
  &__link{
    color: lighten($blue, 10%);
    margin-right: $space-xs;
    &--active{
      color: darken($med-grey, 10%); //little more contrast for visually impaired users.
    }
  }

  &__icon{
    color: $med-grey;
    font-size: .7em;
    position: relative;
    top: -1px;
    margin-right: $space-xs;
  }
}