@charset "utf-8";

.media-uploader {
  color: $blue-grey;
  background-color: $grey;
  @include space(padding, l);
  @include text-center;
  cursor: pointer;
  position: relative;

  &.media-uploader--active,
  &.media-uploader--dragover,
   {
    @extend .grey-gradient-bg;
  }

  .media-uploader__close {
    color: $med-grey;
    position: absolute;
    top: 4px;
    right: 8px;
  }
  .media-uploader__close:before {
    content: "✕";
    display: inline-block;
    line-height: 1;
    font-size: 1.25em;
    font-style: normal;
    font-weight: bold;
  }

  .media-uploader__type,
  .media-uploader__progress {
    background: #fff;
    color: $med-grey;
    @include space(padding, s);
    margin: -32px;
    margin-bottom: 0;
  }
  .media-uploader__progress {
    @include space(padding, l);
    margin: 0;
  };


  .media-uploader__urlbox {
    @include space(margin, m, top bottom);

    .media-uploader__url-error-message {
      margin: 1em 0;
      color: $pink;
    }

    p.error {
      font-size: 12px;
      color: $pink;
    }
  }
  .media-uploader__url {
    width: 90%;
    @include space(padding, xs);
    border-style: solid;
    border-radius: 3px;
    &.error {
      border-color: $pink;
    }
  }

  .media-uploader__prompt {
    position: relative;
  }

  .media-uploader__opacity-slider {
    position: absolute;
    width: 100%;
    margin-top: -2em;
    color: $white;
  }

  .media-uploader__overlay {
    position: absolute;
    width: 99%;
    top: 8px;
    bottom: 43px;
    left: 1px;
    background-color: $black;
    opacity: 0.3;
    border-radius: 4px;
  }

  a {
    cursor: pointer;
  }

  .progress-bar {
    @include space(margin, m, top bottom);
  }

  &--attachment {
    @include centered;
    @include borders(dashed, 3px);
    border-color: $med-grey;
    @include text-center;
    cursor: default;
    width: 100%;

    &.media-uploader--active {
      background-color: $grey;
      @extend .border-blue;
      .gs-upload {
        color: $blue;
      }
    }

  }
  &--attachment__header {
    color: black;
    line-height: 1;
    .media-uploader--active &{
      color: $blue;
    }
  }

  &--image {
    // increase specificity to override
    // media-uploader's gray-bg (see line 5 above)
    &.media-uploader {
      background: transparent;
      @include padding-none;
      @include space(padding, xs, top bottom);
    }
    @include centered;
    border-radius: 6px;
    cursor: default;

    &__wrapper {
      @include borders(dashed, 3px);
      border-color: $med-grey;
      @include rounded-corners-default;
      @include text-center;

      &--dragover {
        @extend .border-blue;
      }

      &--preview {
        @include borders(solid, 1px);
        overflow: hidden;
      }

      &--dark {
        .media-uploader--image__preview {
          background-color: $blue-grey;
        }
      }
    }

    &__prompt {
      margin: 20px 0;

      &__header {
        @include bold;
        color: $dark-grey;
        @include space(margin, xs, top);
        @include x-small;

        line-height: 0;
      }

      .file-input__button {
        @include btn--reset;
        @include padding-none;
        @include x-small;
        margin-bottom: 15px;
      }
    }

    &__description {
      color: $dark-grey;
      @include x-small;
    }

    &__change-button {
      @include btn--reset;
      color: $blue;
      @include bold;
      @include upcase;
      @include x-small;
    }

    &__remove-button {
      @include btn--reset;
      @include bold;
      @include space(padding, l, right);
      @include upcase;
      @include x-small;
    }

    &__preview {
      @include block;
      width: 100%;

      &__buttons {
        @extend .border-t;
        border-color: $med-grey;
        @include space(padding, xxs, top bottom);
      }
    }
  }

  &--csv {
    // increase specificity to override
    // media-uploader's gray-bg (see line 5 above)
    &.media-uploader { background-color: $white; }
    border-radius: 6px;
    cursor: default;

    &__wrapper {
      @include text-center;
      @include borders(dashed, 4px);
      @include rounded-corners-default;
    }

    &__prompt {
      margin-top: 200px;

      &__header {
        @include margin-none;
      }
    }

    &__note {
      @include small;
      margin-top: 180px;
      margin-bottom: 150px;
    }
  }
}

.media-uploader-close {
  position: absolute;
  top: 1em;
  right: 1em;
}

div.attachment {
  position: relative;

  .overlay {
    display: none;
  }

  &.selected {
    border: 4px solid $blue;
    border-radius: 12px;
    padding: 4px;
  }
}

.media-placeholder {
  box-shadow: 0 0 0 1000px rgba(0, 0, 16, 0.75) inset;
  color: #fff;
  text-align: center;
  padding: 32px;

  .loader, .bad-media {
    margin: 32px;
    height: 32px;
    width: 32px;
    display: inline-block;
  }

  .loader:before, .loader:after {
    background-color: #fff;
  }
}

.media-placeholder__close {
  float: right;
  cursor: pointer;
}

.media-placeholder--text {
  width: 50%;
  margin: 32px auto;
}

.media-uploader-container{
  position: relative;
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  @include transition(all .25s $ease-in-out-cubic);
}

.media-uploader-container--expand {
  opacity: 1;
  max-height: 200px;
  margin-bottom: 2em;
}
