.message-box {
  .ic-dialog[after-open] {
    opacity: 1;
  }

  .ic-modal {
    background-color: transparent;
  }

  .ic-modal-main {
    @include transition(opacity 300ms ease);
    opacity: 1;

    height: auto;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    border-radius: $border-radius-default;
    border: 0px;
    background: $white;
    padding: 0px;

    @include breakpoint(small) {
      width: 100%;
      position: fixed;
      top: 0;
      right:0;
      bottom:0;
      left: 0;
      margin: 0;
      border-radius: 0;
    }
  }

  .ic-modal-form[after-open] .ic-modal-main {
    opacity: 1;
  }
  .ic-modal-close {
    display: none;
  }

  .ic-modal-form {
    background-color: transparent;
    cursor: pointer;
    display: block;
    padding: 0;
    position: static;
  }

  .ic-modal-title {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.4;
  }

  &__header {
    padding: 20px 20px 16px;
    line-height: 1;
    border-bottom: 1px solid $grey;
    color: $blue-grey;
  }

  &__contents {
    padding: 0px;
    textarea {
      resize: vertical;
      height: 220px;
      @include breakpoint(small) {
        height: 50vh;
      }
      border: 0px;
      padding: 20px;
      width: 100%;
    }
  }

  &__footer {
    padding: 8px 20px 16px;
    border-top: 1px solid $grey;
    text-align: right;
    @include clearfix;
    .button-cancel {
      color: $blue-grey;
      @include breakpoint(small) {
        float: left;
      }
    }
  }

  &--smart-group {
    display: inline;
    float: left;
    text-align: left;
    .anchored-modal__trigger-button {
      top: -1px;
    }
  }
}
