.multiple-widget-container {
  @include space(padding, s, top right bottom left);
  @include space(margin, s, top);
  @include display(flex);
  @include flex-direction(column);

  border-radius: $border-radius-default;
  border-bottom: 1px solid $grey;
  background: $white;
  width: 100%;
  letter-spacing: normal;

  @include breakpoint(larger-than-phones) {
    @include flex-direction(row);
  }

  &__child {
    @include space(padding, xl, top right bottom left);

    display: block;
    position: relative;

    /* Smaller border code */
    &::before {
      content: '';
      border-top: 1px solid $grey;
      border-left: none;
      width: 70%;
      left: 15%;
      top: 0;
      position: absolute;
    }

    @include breakpoint(larger-than-phones) {
      border-top: none;
      width: 50%;

      /* Smaller border code */
      &::before {
        content: '';
        border-top: none;
        border-left: 1px solid $grey;
        height: 68%;
        left: 0;
        top: 16%;
        position: absolute;
      }
    }

    &:first-child::before {
      border: none;
    }
  }
}
