.open-enrollment-registration {
  margin: auto;
  width: 50%;
  padding-top: 100px;

  &__heading {
    padding-bottom: 50px;
  }

  &__title {
    padding: 5px 0 15px 0;
  }

  &__actions {
    text-align: center;
    padding-top: 25px;

    .btn {
      margin: 10px;
      &:focus{
        outline: 2px solid $input-grey;
      }
    }
  }

  &__register-btn {
    @include btn-filled;
  }

  &__swatch {
    @include linear-gradient(to right, $pink, $purple);
    position: relative;
    display: block;
    left: 0;
    top: -9px;
    width: 50px;
    height: 10px;
  }

  @include breakpoint(medium) {
    width: 75%;
    padding-top: 75px;

    &__title {
      font-size: 24px;
    }
  }

  @include breakpoint(small) {
    width: 90%;
    padding-top: 50px;
  }
}
