@charset "utf-8";

.permission-editor__trigger {
  color: $dark-grey
}

.permission-editor__popup {
  font-size: 14px;
  background-color: $white;
  width: 300px;
}

.permission-editor {
  .checkbox__label-wrapper {
    line-height: 20px; // to be vertically centered against the checkbox imgs
    color: $black;
  }
}

.permission-editor__delimiter {
  border-color: rgba(255,255,255,0.25);
  margin: 12px 0;
}

.permission-editor__role-filter {
  margin-top: 16px;
  margin-left: 8px;
  margin-bottom: -16px;

  .search-field__input {
    font-size: inherit;
  }
}

.permission-editor__role-editor {
  overflow-y: auto;
  max-height: 188px;
  padding-left: 12px;
  padding-right: 8px;
}

.permission-editor__role-editor__list {
  @extend %list--unstyled;
}

.permission-editor__role-editor__list__item {
  clear: left;
  margin: 8px 0;

  &--locked {
    cursor: not-allowed;
  }
}

.permission-editor__role-editor__list__item__lock--static-role-buffer {
  margin-right: 26px;
}

.permission-editor__close-popup-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $blue;
}

.permission-editor__delete_confirmation__loader {
  position: absolute;
  margin-top: 50px;
  margin-left: 34px;
}

.permission-editor__role-creator {
  margin: 12px;
}

.permission-editor__role-creator__create-btn {
  padding: 1px 0;
}

.permission-editor__role-creator__create-btn__text {
  padding-right: 8px;
  padding-top: 2px;
  display: table-cell;
  vertical-align: middle;
}

.permission-editor__role-creator__create-btn__icon {
  display: table-cell;
  vertical-align: middle;
}

.permission-editor__role-creator__form {
  padding-top: 12px;

  input {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 12px;
    @include rounded-corners-default;
    @include space(padding, xs);
    border: 2px solid;
    border-color: $light-grey;

    width: 100%;

    &:focus {
      @include transition(box-shadow, 0.3s, $ease-in-out-back);

      outline: none;
      border-color: $blue;
      box-shadow: 0 0 10px 2px $indigo-op25;
      background: $white;
    }
  }

  .combo-box__icon {
    color: $dark-grey;
    float: right;
    font-size: 12px;
    margin-left: 0;
  }

  .combo-box {
    margin-top: 6px;
    font-size: 14px;
    position: static;
  }

  .combo-box__box {
    border-color: $light-grey;
  }

  .combo-box__list {
    position: static;
    padding-top: 4px;
    padding-bottom: 0;
  }
}

.permission-editor__role-creator__form__loader {
  margin-top: 12px;
  margin-right: 36px;
}

.permission-editor__restore-button {
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 12px;
}
