@charset "utf-8";

.pika-single {
  background: $white;
  display: block;
  position: relative;
  width: 320px;

  &.is-hidden {
    display: none;
  }

  &.is-bound {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: absolute;
  }
}

.pika-single abbr {
  border: none;
}

.pika-title {
  border-top: 1px solid $med-grey;
  position: relative;

  background-color: $grey;
  @include space(padding, xs, top);
  @include text-center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    line-height: 20px;

    @include bold;
    @include upcase;
}

.pika-title select {
    cursor: pointer;
    position: absolute;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-select {
  display: inline-block;
  *display: inline;
}

.pika-prev, .pika-next {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 10px;
  height: 28px;
  padding: 0;
  position: absolute;
  width: 48px;
}

.pika-prev {
  left: 0;
  @extend .gs-arrow-left;
  @extend .left;
}

.pika-next {
  right: 0;
  @extend .gs-arrow-right;
  @include right;
}

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}

.pika-table th,
.pika-table td {
  height: 32px;
  padding: 0;
  width: 14.285714285714286%;

  @include text-center;
}

.pika-table th {
  border-bottom: 1px solid $med-grey;
  font-weight: 200;

  color: $blue-grey;
  background-color: $grey;
  @include text-center;
}

.pika-table tr {
  &:first-of-type td {
    @include space(padding, xs, top);
  }

  &:last-of-type td {
    @include space(padding, xs, bottom);
  }
}

.pika-button {
  background: none;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 auto;
  outline: none;
  width: 32px;

  @include text-center;

  &:hover {
    background: $blue !important;
    color: $white !important;
  }
}

.is-today .pika-button {
  background: $pale-yellow;
}

.is-selected .pika-button {
  background: $blue;

  color: $white;
}

.is-disabled .pika-button {
  opacity: 0.4;
  cursor: default;

  background: none !important;
  color: $indigo !important;
}
