.popdown__modal.ReactModal__Content {
  @include transition(opacity 300ms ease);
  @include shadow;

  padding: 0;
  height: auto;
  border-radius: $border-radius-default;
  border: 0px;
  background: $white-op90;

  // Cancel ReactModal__Content's positioning:
  right: auto;
  bottom: auto;

  // also hide it initially so we don't get a flicker in the top left
  left: -1000px;
}

.popdown__overlay {
  background-color: transparent;
}

.popdown {
  &__trigger {
    @include btn--reset();
    @include rounded-corners-default;
    padding: 9px 20px 7px;
    &:focus {
      border: none;
    }
  }
}

.popdown-selector {
  margin-top: -6px;

  &__trigger {
    color: $blue-grey;
    padding: 9px 16px 7px;
  }
}

