@charset "utf-8";

.program-header__background {
  padding: 40px 24px 20px 24px;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}
@include breakpoint(medium) {
  .program-header__buttons {
    text-align: center;
    padding-bottom: 20px;
  }
  .program-editor__publish-link,
  .program-editor__done-link {
    position: static;
    display: inline-block;
    margin: 0 10px;
  }
}


.program-header__title {
  margin: 0 0 0 10%;
  z-index: 1;
  width: 80%;
  color: $white;

  input {
    @include light;
    border-color: $blue;
    text-align: center;
    width: 80%;
  }

  label {
    margin-left: 10%;
  }

  h1 {
    margin-bottom: 0;
  }
}

h1.program-header__title {
  border-color: transparent;
}

.program-header__meta {
  color: $white;
  position: relative;
  z-index: 1;
}

.program-header-details {
  &__description {
    margin-bottom: 10px;

    & textarea {
      width: 100%;
      resize: none;
      @include placeholder {
        color: $dark-grey;
      }
    }

    & textarea:focus {
      // prevent scrollbars when resizing
      overflow: hidden;
      @include placeholder {
        color: $dark-grey;
      }
    }
  }
}

.program-header__abbreviated {
  .program-header__meta {
    margin-left: 10%;
  }
  // the crossfade in the header is fragile and you can't use bottom
  // margin on the last element in the header
  &__bottom-padding {
    height: 40px;
  }
}

.program-header-edit {
  color: $white;


  .program-header__meta {
    width: 100%;
    text-align: center;
  }

  .media-uploader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border: 2px solid transparent;
    color: $white;
    background-color: transparent;
    cursor: default;
    @include transition(opacity 0.3s 0.125s);

    &.media-uploader--active,
    &.media-uploader--dragover {
      border: 2px dashed $chart-grey;
      background: rgba($indigo, 0.3);
    }
  }

  .media-uploader__inner-icon {
    width: 100%;
    text-align: center;
    @include transition(top 0.3s 0.125s);
  }

  .btn.tertiary.media-uploader__remove-button {
    position: relative;
    color: $white;
    &:hover:not([disabled]){
      color: $white;
    }
  }

  &__description {
    position: relative;
    z-index: 1;
    text-align: center;

    & textarea {
      width: 65%;
      resize: none;
      text-align: center;
      @include placeholder {
        color: $white;
      }
    }

    & textarea:focus {
      // prevent scrollbars when resizing
      overflow: hidden;
      @include placeholder {
        color: $grey;
      }
    }
  }

  hr {
    @include space(margin, m, top bottom);
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 20%;

    @include breakpoint(mobile) {
      display: none;
    }
  }
}

.program-header__gradients-row {
  width: 460px;
  margin: 18px auto 0 auto;

  @include breakpoint(mobile) {
    width: auto;
  }
}

.program-header__gradient-container {
  float: left;
  position: relative;

  width: 86px;
  height: 52px;
  margin: 10px 14px;
}

.program-header__gradient-button {
  @include shadow;
  @include transition(all .15s $ease-in-out-cubic);

  position: absolute;
  left: 0;
  top: 0;
  width: 86px;
  height: 52px;
  border: 1px solid $white;
  outline: none;

  &__selected {
    left: -6px;
    top: -4px;
    width: 98px;
    height: 60px;
    border-width: 3px;
    border-radius: 3px;
  }

  &:hover {
    left: -14px;
    top: -7px;
    width: 114px;
    height: 68px;
  }
}

.program-header__gradient-0 {
  @include linear-gradient($light-green, $blue);
}

.program-header__gradient-1 {
  @include linear-gradient($cyan, $purple);
}

.program-header__gradient-2 {
  @include linear-gradient($pink, $purple);
}

.program-header__gradient-3 {
  @include linear-gradient($orange, $pink);
}
