@charset "utf-8";

.question-prompt {
  color: $white;
}
.theme-light .question-prompt {
  color: $indigo;
}
.question-prompt__title--with-subject {
  @extend .italic;
}
.question-prompt__back-btn {
  .no-touch &:active:not([disabled]) {
    background: $black;
  }
}
.theme-light .question-prompt__back-btn {
  .no-touch &:active:not([disabled]) {
    background: $white;
  }
}
.question-prompt__continue-btn {
  .no-touch &:active:not([disabled]) {
    background: $black;
  }
}
.theme-light .question-prompt__continue-btn {
  .no-touch &:active:not([disabled]) {
    background: $white;
  }
}

.question-prompt__submit-btn {
  @include filled-button($white);
  color: $blue;
}
.theme-light .question-prompt__submit-btn {
  color: $white;

  .no-touch &:not([disabled]) {
    color: $white;
  }
}

@media #{$media-query-mobile} {
  .question-prompt {
    &__title--with-subject {
      @include header-style(16px, normal);
      @include space(margin, xs, bottom);
    }

    &__subject {
      @include header-style(24px, bold);
    }
  }
}

@media #{$media-query-desktop} {
  .question-prompt {
    &__title--with-subject {
      @include header-style(20px, normal);
      @include space(margin, s, bottom);
    }

    &__subject {
      @include header-style(28px, bold);
    }
  }
}

