@charset "utf-8";

.quiz-question-intro {
  display: flex;
  flex-flow: column;

  @include centered;
  max-width: $max-page-width;
  &.quiz-question-intro--wide {
    max-width: 100%;
  }

  @include breakpoint(medium) {
    .quiz-question-intro__title {
      @include space(padding, s, right left);
      max-width: 100%;
    }
  }

  @include breakpoint(large) {
    &--left {
      flex-flow: row;

      & .quiz-question-intro__image {
        flex-basis: 60%;
      }
      & .quiz-question-intro__title {
        flex-basis: 40%;
        width: auto;
        @include space(margin, l, left);
      }
    }
  }

  &--bottom {
    & .quiz-question-intro__title {
      order: 1;
      @include space(margin, m, bottom);
    }
    & .quiz-question-intro__image {
      order: 2;
    }
  }
}
