.refinement-group {
  @include large-content-area;
  margin: 0 auto;
  overflow: scroll;

  &__add-label {
    color: $dark-grey;
    @include small;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background: transparent;
    border: none;
  }

  &__add-wrapper {
    @include display(flex);
    @include justify-content(center);
    @include space(margin, s, top);
  }

  &__cancel {
    background-color: $blue-grey;
    @include flex-grow(1);
    @include align-self(center);
    text-align: left;
    color: $white;
    cursor: pointer;

    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.12rem;
  }

  &__cancel::before {
    content: '<';
  }

  &__close {
    background-color: $blue-grey;
    @include flex-grow(1);
    text-align: right;
    color: $white;
    border: none;
    cursor: pointer;

    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.12rem;
  }

  &--collapsed {
    overflow: hidden;
    margin: 4.5rem 1rem;
    border: 1px solid $med-grey;
    padding-top: 1rem;
    position: relative;

    .filter-search {
        display: none;
    }

    .refinement-group__heading {
      margin: 0;
      padding: $space-s 0 0 0;
    }

    .refinement-group__header {
      margin: 0;
    }

    .refinement-group__cancel {
      display: none;
    }

    .refinement-group__close {
      display: none;
    }

    .refinement-group__destroy {
      background: transparent;
      display: block;
      position: absolute;
      top: $space-xs;
      right: $space-xs;
      font-size: 1rem;
    }

    .refinement-group__search {
      display: none;
    }

    .search-field {
      display: none;
    }

    .report-refinement__columns {
      display: none;
    }
  }

  &--collapsed:hover {
    box-shadow: 0 0 0 1px $med-grey;
  }

  &__destroy {
    display: none;
  }

  &__header {
    @include space(margin, l, bottom);
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
  }

  &__heading {
    width: 100%;
    text-align: center;
  }

  &__heading-mobile {
    background-color: $blue-grey;
    @include space(padding, s, top right bottom left);
    @include flex-grow(3);
    @include align-self(center);
    display: block;
    color: $white;
    text-align: center;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  &__search {

  }

  @include breakpoint(larger-than-phones) {
    @include space(padding, s, right bottom left);
    @include space(margin, s, top);
    @include space(margin, xxl, bottom);
    border: 2px solid $blue;
    border-radius: $border-radius-default;
    overflow: hidden;

    &__cancel {
      @include order(2);
      @include flex-grow(0);
      @include align-self(initial);
      color: $med-grey;
      margin-left: auto;
      background: transparent;
      text-align: right;

      position: relative;
    }

    &__cancel::before {
      content: '';
    }

    &--collapsed {
      margin: 16px auto;
      padding-top: 0;
      border: 1px solid $med-grey;
      cursor: pointer;

      .refinement-group__selected-items {
        @include justify-content(center);
        @include space(margin, l, top);
        border: none;

        .report-refinement__item {
          width: auto;
        }
      }

      .refinement-group__heading {
        @include flex-grow(1);
        text-align: center;
      }
    }

    &__close {
      @include order(1);
      @include flex-grow(0);
      background: transparent;

      position: relative;
    }

    &__header {
      @include flex-direction(row-reverse);
      @include justify-content(center);
      @include align-items(center);
    }


    &__heading {
      @include order(2);
      @include flex-grow(4);
      padding: 0;
      text-align: center;
      width: auto;

      margin-top: initial;
    }

    &__heading-mobile {
      display: none;
    }

    &__search {
      @include order(4);
      @include flex-grow(1);
      margin-right: auto;
      margin-left: 0;
    }

    &__selected-items {
      @include display(flex);
      @include justify-content(flex-start);
      @include flex-wrap(wrap);
      @include space(padding, s, bottom);
      @include space(margin, s, bottom);
      border-bottom: 1px solid $light-grey;

      .report-refinement__item {
        @include space(padding, s, right left);
        @include space(padding, xxs, bottom);
        width: 50%;

        &--bare {
          padding: 0;
          &::after {
            content: ',\2002'; // escaped space
          }
          &:last-child::after {
            content: '';
          }
        }
      }
    }
  }
}
