@charset "utf-8";

/*
/*doc
---
title: Removable Item
name: removeable-item
category: Components
---

[[[plugin:src-file-path]]]

This is what the delete mode looks like for a list item. This is a part of the ListItem component.

If using the ListItem component an `<li>` with the class `.removable-item` will be added with the necessary elements.


```html_example
<ul class="course-list unstyled bordered">
  <li class="ember-view">
    <div class="removable-item removable-item--focused" >
      <div class="removable-item__title padding-l-s padding-tb-l">
        <h2 class="h3 margin-none unpublished">
          <a class="ember-view dark-grey" href="#">
            Untitled Course
          </a>
        </h2>
        <p class="light margin-none small dark-grey">
          <i>Draft; this course has not been published</i>
        </p>
      </div>
      <div class="removable-item__confirm">
        Delete Course?
      </div>
      <div class="removable-item__buttons">
        <button type="button" class="btn--reset dark-grey upcase small padding-rl-s text-center">
          Cancel
        </button>
        <button type="button" class="btn--reset pink upcase small padding-rl-s text-center">
          Delete
        </button>
      </div>
    </div>
  </li>
</ul>
```

In the event of a having a removable item in a `<table>` the row will be replaced with the proper markup.

```html_example
<table class="ember-view sortable-table enrollment-list-table ">
  <tbody class="ember-view sortable-table__tbody">
    <tr class="ember-view sortable-table__tr enrollment-list-item enrollment-list-table__row enrollment-list-item--overdue">
      <td class="ember-view sortable-table__td padding-none " colspan="5">
        <div class="removable-item removable-item--focused">
          <div class="removable-item__title">
            <div class="ember-view avatar avatar--user left avatar--enrollment dee-snider" aria-hidden="true">
              <span class="avatar__name">LJ</span>
            </div>
            <span class="left margin-trl-xs">
              Leroy Jenkins
            </span>
          </div>
          <div class="removable-item__confirm indigo">
              Delete Enrollment?
          </div>
          <div class="removable-item__buttons">
            <button type="button" class="btn--reset dark-grey">
              Cancel
            </button>
            <button type="button" class="btn--reset pink">
              Delete
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
```

*/

.removable-item {

  display: table;
  width: 100%;
  height: 100%;

  &--focused {
    @include shadow;
    @include rounded-corners-default;
    background: $white;
  }

  &__title {
    @include space(padding, s, top bottom);
    @include space(padding, m, right);
    @include space(padding, xs, left);
  }

  &__title--large {
    @include space(padding, l, top bottom);
    @include space(padding, m, right);
    @include space(padding, s, left);
    @include breakpoint(medium) {
      @include space(padding, s, right);
    }
  }
  &__title--none {
    display: none;
  }

  &__description {
    @include space(padding, xs, top);
    @include light;
    color: $dark-grey;
    word-break: break-word;
  }

  @media #{$media-query-desktop} {
    &__title, &__remove-btn {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__buttons {
      border-left: 1px solid $grey;
      @include space(padding, xs, right left);
      @include space(padding, m, bottom);
      text-align: center;

      button {
        text-transform: uppercase;
      }

      @media #{$media-query-desktop} {
        display: table-cell;
        vertical-align: middle;
        width: 25%;
        padding-bottom: 0;
      }

      @media #{$media-query-s} {
        border-left: none;
      }

    }

    &__confirm {
      @include light;
      @include space(padding, m, right left);
      text-align: center;

      @media #{$media-query-desktop} {
        display: table-cell;
        vertical-align: middle;
        width: 37%;
        text-align: right;
      }
    }
    &__confirm--shared {
      width: 75%;
      @include space(padding, l, top bottom);
      @include space(padding, m, right);
      @include space(padding, s, left);
      @include breakpoint(medium) {
        @include space(padding, s, right);
      }
      @media #{$media-query-desktop} {
        text-align: left;
      }
    }

    &__remove {
      @include space(padding, s, right);
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      white-space: nowrap;
    }

  }

.removable-item__title--program-item {
  padding-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;

  @include breakpoint(large) {
    @include space(padding, xxl, left right);
    max-width: 500px;
  }
}

.removable-item__spacer {
  display: inline-block;
  vertical-align: center;
}

.removable-item__container {
  position: absolute;
  right: 0;
  top: 25%;
  height: 75%;
  max-width: 400px;
  background: $white;
}
