@charset "utf-8";

.report-header__title {
  margin: 0;
  margin-top: 14px;
  color: $indigo;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  padding: 2px;
  width: 19em;
  @include x-large;
  @include light;
  @extend .leading-normal;
  @include breakpoint(small) {
    @include space(margin, s, bottom);
  }

  .combo-box__list {
    padding: $space-xxs 0;
  }

  .combo-box__list-item {
    @include x-medium;
  }
}

