.saml-debugger {
  &__enable {
    margin-right: 5px;
  }

  &__log {
    font-family: monospace;
    font-size: 11px;
    height: 350px;
    padding: 8px;
    width: 100%;
  }

  &__btn {
    margin-right: 10px;
  }
}
