@charset "utf-8";

.score-distribution {
  &__stop1 { stop-color: $cyan; }
  &__stop2 { stop-color: $blue; }
  &__fill  { fill: url(#score-distribution__gradient); }

  &__failing-scores .bin { fill: $dark-grey; }

  .axis {
    line {
      shape-rendering: crispEdges;
      stroke: black;
      stroke-width: 1;
    }

    path {
      display: none;
    }

    text {
      font-size: 12px;
    }
  }

  &__learner-axis {
    line, text {
      opacity: 0.1;
    }
  }

  &__score-axis {
    line, text {
      opacity: 0.3;
    }
  }

  .axis-label {
    fill: $dark-grey;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__baseline {
    shape-rendering: crispEdges;
    stroke: black;
    stroke-width: 1;
  }

  &__average {
    line {
      stroke: $blue;
      stroke-width: 2;
    }

    circle {
      fill: $blue;
    }

    text {
      font-weight: bold;
      fill: $white;
    }

    tspan {
      font-size: 12px;
    }
  }

  &__curve {
    fill: none;
    opacity: 0.2;
    stroke: black;
    stroke-width: 2;
  }

  &--mobile {
    .axis text, .axis-label {
      font-size: 10px;
    }

    &__average {
      tspan {
        font-size: 10px;
      }
    }
  }
}
