// adjust content based on sidebar state
.next-to-sidebar-panel {
  min-height: 100vh;
  @include transition(padding-left 0.25s ease-in-out);
  padding-left: $sidebar-width;
}
.sidebar-is-closed .next-to-sidebar-panel {
  padding-left: $sidebar-width-closed;
}
.sidebar-is-expanded .next-to-sidebar-panel {
  padding-left: $sidebar-width-expanded;
}
.sidebar-is-mobile .next-to-sidebar-panel {
  padding-left: 0;
}

// new navigation

.sidebar__wrapper {
  top: -100%;
  @include transition(width .25s ease-in-out,
                      height .25s ease-in-out,
                      top .25s ease-in-out);
  position: fixed;
  width: 100%;
  overflow: hidden;

  @include breakpoint(large) {
    top: 0;
    width: $sidebar-lg-width;
    left: 0;
    height: 100%;
  }

  background-color: $indigo;
  color: $dark-grey;
  font-size: 17px;
}

.theme-light .sidebar__wrapper {
  color: $blue-grey;
  background-color: $light-grey;
}

.sidebar {
  @include transition(all .5s ease-in-out);
  @include transform(translateX(0));

  color: $dark-grey;
  font-size: 17px;
  top: 0;
  left: 0;

  @include breakpoint(medium) {
    width: 100%;
  }

  @include breakpoint(large) {
    background-color: $transparent;
    position: fixed;
    width: 302px;
    height: 100%;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    font-weight: normal;
  }

  h1 {
    font-size: 20px;
  }
}
.theme-light .sidebar {
  color: $blue-grey;
}

.sidebar__main,
.sidebar__footer {
  width: 302px;
}

.sidebar__mobile_header {
  border-bottom: 1px solid darken($dark-grey, 32);
  line-height: 55px;
  position: relative;
  background-color: $indigo;


  .open span {
    display: none;
    padding: 0 3px;
  }

  .close {
    i {
      padding: 0 16px 0 3px;
    }
    display: none;
  }

  button {
    padding: 0 15px;
  }

  @include breakpoint(large) {
    display: none;
  }
}
.theme-light .sidebar__mobile_header {
  border-bottom: $grey;
  background-color: $light-grey;
}

.sidebar__footer {
  background-color: rgba($indigo, .75);

  @include breakpoint(large) {
    position: absolute;
    bottom: 0;
  }

  li:first-child {
    border-bottom: 1px solid darken($dark-grey, 32);
  }

  .sidebar__toggle {
    overflow: hidden;
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
  .sidebar__main_menu_item_icon.gs-collapse {
    @include transition(all .15s ease-in-out);
    @include transform(rotate(0deg));
  }
}
.theme-light .sidebar__footer {
  background-color: rgba($light-grey, .75);

  li:first-child {
    border-bottom: 1px solid $med-grey;
  }
}


// main menu
.sidebar__main_menu_item {
  line-height: 65px;
  overflow: auto;
  font-size: 16px;
  opacity: 0;
  position: relative;
  box-shadow: none;

  @include breakpoint(large) {
    opacity: 1;
  }

  &:first-child {
    border-bottom: 1px solid darken($dark-grey, 32);
  }

  [class*="gs-"], .sidebar__icon-item {
    width: 32px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 65px;
    position: absolute;
  }

  .gs-x {
    @include transform(scale(0));
    opacity: 0;
    @include transition(all .25s ease-in-out .25s);
    left: 15px;
  }

  .gs-arrow-right {
    opacity: 1;
    right: 15px;
    font-size: 12px;
    @include transition(all .15s ease-in-out);
    top: 0;
  }
}

.sidebar__icon-item-image{
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  @include transform(translateY(50%));
}

.sidebar__avatar.avatar {
  @include linear-gradient($purple, $pink);
  border: 2px solid $dark-grey;
  letter-spacing: 1.01px;
  position: absolute;
  left: 15px;
  top: 15px;
}

.theme-light .sidebar__main_menu_item {
  border-bottom: 1px solid $light-grey;

  &:first-child {
    border-bottom: 1px solid $med-grey;
  }
}
.sidebar__main_menu_item_icon,
.sidebar__main_menu_item_icon.avatar {
  @include transition(transform .35s ease-in-out,
                      left .35s ease-in-out,
                      opacity .35s ease-in-out)
}


.sidebar__main_menu_link {
  display: block;
  padding: 0 15px 0 60px;
  border: 1px solid $indigo;
  border-width: 1px 0;
  width: 100%;
  height: 66px;
  overflow: hidden;
  text-align: left;

  &:hover {
    background-color: darken($indigo, 2);
    color: $white;

    &::after {
      content: '';
      position: fixed;
      left: 59px;
      height: 65px;
    }
  }
}
.theme-light .sidebar__main_menu_link {
  color: $blue-grey;
  border: 1px solid $light-grey;

  &:hover {
    background-color: darken($light-grey, 2);
    color: $blue-grey;
  }
}

.sidebar__main_menu_link--active {
  color: $white;
  border: 1px solid darken($dark-grey, 32);
  border-width: 1px 0;

  &:hover::after {
    border-left: 1px solid $indigo;
  }

  &::after {
    content: '';
    position: fixed;
    left: 59px;
    border-left: 1px solid $indigo;
    height: 65px;
  }

  .sidebar__main_menu_item_icon {
    opacity: 0;
    @include transform(scale(1));
  }

  .gs-x {
    @include transform(scale(0.8));
    font-size: 22px;
    color: $dark-grey;
    opacity: 1;
  }
}

.theme-light .sidebar__main_menu_link--active {
  color: $white;
  border: 1px solid $med-grey;

  &:hover {
    color: $white;

    &::after {
      border-left: 1px solid $light-grey;
    }
  }
  &::after {
    border-left: 1px solid $light-grey;
  }
}
.theme-light a.sidebar__main_menu_link--active {
  &:hover::after,
  &::after {
    border-left-width: 0;
  }
}

.sidebar__main_menu_item--profile .sidebar__main_menu_link--active {
  &::after {
    top: 2px;
  }
}
.theme-light .sidebar__main_menu_item--profile .sidebar__main_menu_link--active {
  border-color: $light-grey;
}

.sidebar__main_menu_item--no-panel .sidebar__main_menu_link--active,
.sidebar--is-closed  .sidebar__main_menu_link--active {
  color: $white;
  border: 1px solid $indigo;

  i {
    color: $white;
  }

  [class*="gs-"] {
    opacity: 1;
    @include transform(scale(1));
  }
}
.theme-light .sidebar__main_menu_item--no-panel .sidebar__main_menu_link--active {
  border: 1px solid $light-grey;
}

.sidebar__main_menu_item_icon {
  left: 15px;
  opacity: 1;
}

.sidebar__main_menu_item_label {
  width: 175px;
  display: inline-block;
  position: relative;
  left: 0;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include transition(left .25s ease-in-out,
                      opacity .25s ease-in-out);
}


.sidebar__main_menu_learner_item {
  @extend .sidebar__main_menu_item;
  display: none;
}


.sidebar--is-learner {
  .sidebar__main_menu_item {
    display: none;
  }
  .sidebar__main_menu_item:first-child {
    display: block;
  }
  .sidebar__main_menu_learner_item {
    display: block;
  }
  .sidebar__footer .sidebar__main_menu_item {
    display: block;
  }
}


// panels
.sidebar__panel_wrapper {
  @include calc( width, '100% - 65px');
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: $indigo;
  @include transition(left .5s ease-in-out,
                      top .5s ease-in-out,
                      width .5s ease-in-out,
                      height .5s ease-in-out);

  @include breakpoint(large) {
    width: 0;
    left: $sidebar-lg-width-closed;
    height: 100%;
  }

  @include breakpoint(small-tall) {
    top: auto;
  }
}
.theme-light .sidebar__panel_wrapper {
  background-color: $light-grey;
}

.sidebar__panel {
  @include transition(all .3s ease-in-out);

  height: 100%;
  top: 0;
  padding-top: 10px;
  position: absolute;

  header {
    width: 302px;
    @include transition(all .2s ease-in-out);
    opacity: 0;
    position: relative;
    left: -15px;

    span {
      display: block;
    }

    [class*="gs-"] {
      font-size: 1em;
    }
  }

  h1, h2 {
    font-weight: 300;
  }
}

.sidebar__panel_menu {
  li {
    display: block;
    @include transition(left .3s ease-in-out, opacity .3s ease-in-out);
    opacity: 0;
    position: relative;
    left: -15px;

    @include breakpoint(large) {
      width: 302px;
    }
  }

  a {
    display: block;

    &.active,
    &:hover {
      color: $white;
    }
  }
}

.theme-light .sidebar__panel_menu {
  a {
    color: $blue-grey;

    &.active,
    &:hover {
      color: $blue-grey;
    }
  }
}

.sidebar__panel_lti_tool_image{
  width: 24px;
  max-height: 24px;
}

.sidebar__signout_link {
  padding-top: 15px;

  i {
    text-align: left;
    margin-right: 10px;
  }
}

.sidebar__panel_header {
  text-align: center;
  padding: 15px 20px 20px;
  margin-bottom: 20px;

  h1 {
    line-height: 22px;
    font-size: 18px;
    margin: 0;
  }
  i {
    font-size: 1.1em;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 42%;
    right: 42%;
    opacity: .8;
    background-color: $dark-grey;
  }
}

// specific panel headers
.sidebar__panel_header--is-profile {
  @extend .sidebar__panel_header;

  h1 {
    color: $white;
    margin: 10px 0 0;
    font-size: 20px;
    line-height: 30px;
  }
}
@include breakpoint(small) {
  .sidebar__panel_header--is-profile {
    margin-bottom: 10px;
  }
}
.sidebar__tagline {
  font-size: 14px;
  line-height: 1;
}

.theme-light .sidebar__panel_header--is-profile {
  h1, a {
    color: $blue-grey;
  }
}
.avatar.sidebar__avatar--large {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 2px solid darken($indigo, 2);
  box-shadow: $dark-grey 0 0 0 2px;

  .avatar__name {
    font-size: 32px;
  }
}
.theme-light .avatar.sidebar__avatar--large {
  border: 2px solid darken($light-grey, 2);
}

@include breakpoint(small) {
  .avatar.sidebar__avatar--large {
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}


// panel menus

.sidebar__panel_primary_item {
  overflow: auto;
  line-height: 36px;
  font-size: 17px;

  i {
    float: left;
    width: 32px;
    text-align: center;
    margin-right: 9px;
  }

  [class*="gs-"] {
    line-height: 38px;
  }

  a {
    padding: 10px 20px;
  }
}

.sidebar__panel_secondary_header {
  h2 {
    padding: 35px 20px 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
}
.sidebar__panel_secondary_item {
  display: block;
  padding: 8px 20px;
  font-size: 15px;
  line-height: 22px;
}

.sidebar__bridge_footer {
  position: absolute;
  bottom: 15px;
  padding: 0 20px;
  background-color: rgba($indigo, .75);
  opacity: 0;
  left: -15px;
  @include transition(left .5s ease-in-out, opacity .5s ease-in-out);

  p {
    margin: 4px 0;
    font-size: 12px;
  }
  
  .sidebar__custom_help {
    margin: 18px 0;
    
    p:first-child {
      margin: 4px 0;
      color: $dark-grey;
    }
  }
}
.theme-light .sidebar__bridge_footer {
  background-color: rgba($light-grey, .75);
}

.sidebar__bridge_logo {
  width: 85px;
  fill: $dark-grey;
}

.sidebar__swatch {
  @include linear-gradient(to right, $pink, $purple);
  width: 27px;
  height: 5px;
  margin: 24px 0 10px 0;
}


// modifier states

.sidebar--is-swapping {
  @include transition-duration(0.25s);
  @include transition-timing-function($ease-in-out-cubic);
  @include transition-property(transform);
  @include breakpoint(large) {
    @include transform(translateX(-90px));
  }
}

// closed
.sidebar--is-closed {
  width: 60px;
  overflow: hidden;

  .sidebar__wrapper {
    width: 60px;
    overflow: hidden;
  }
  .gs-arrow-right {
    display: none;
  }
  .sidebar__footer .sidebar__main_menu .gs-collapse {
    @include transform(rotate(180deg) scale(0.8));
  }

  .sidebar__main_menu_link--active {
    color: $white;
    border: 1px solid $indigo;

    .gs-x {
      opacity: 0;
    }
  }
}

// open
.sidebar--is-open {
  .sidebar__main_menu {
    a:hover::after {
      display: none;
    }
  }
  .gs-collapse {
    @include transform(rotate(0deg));
  }
  .gs-arrow-right {
    right: 15px;
    opacity: 1;
  }
  .sidebar__panel {
    left: -100%;

    @include breakpoint(large) {
      left: 0;
    }
  }

  .sidebar__main_menu_link--active {
    border: none;

    .sidebar__main_menu_item_icon {
      opacity: 1;
    }

    .gs-x {
      opacity: 0;
    }
  }
}

// expanded
.sidebar--is-expanded {
  .sidebar__main_menu {
    .sidebar__avatar {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
    i:not(.gs-x):not(.gs-arrow-right), .sidebar__avatar  {
      @include transform(scale(0.8));
    }
    .gs-arrow-right {
      display: none;
      @include breakpoint(large) {
        display: block;
      }
    }

    .sidebar__main_menu_link--active {
      border: 1px solid darken($dark-grey, 32);
      border-width: 1px 0;

      .sidebar__main_menu_item_icon {
        opacity: 0;
      }

      .gs-x {
        opacity: 1;
      }
    }
  }

  .sidebar__main_menu_item--no-panel .sidebar__main_menu_link--active {
    .sidebar__main_menu_item_icon {
      opacity: 1;
    }
  }

  .sidebar__main_menu_item {
    .sidebar__main_menu_item_label {
      opacity: 0;
      @include breakpoint(medium) {
        left: -15px;
      }
    }
    .gs-arrow-right {
      right: 150px;
      opacity: 0;
    }
  }
  .sidebar__main_menu_item--profile .sidebar__main_menu_link--active {
    border-color: $transparent;
  }
  .sidebar__wrapper {
    position: static;
    width: 60px;
    overflow: hidden;
    border-right: 1px solid darken($dark-grey, 32);
    @include transition-delay(.3s);
  }

  .sidebar__footer {
    width: 59px;
    overflow: hidden;

    .sidebar__main_menu {
      width: 302px;
    }
  }

  .sidebar__panel_wrapper {
    @include calc( left, '100% - 65px * -1');

    @include breakpoint(large) {
      left: 60px;
      width: 302px;
    }
  }
}
.sidebar__panel.active {
  background-color: $indigo;

  header {
    opacity: 1;
    left: 0;
  }
  .sidebar__panel_menu li {
    opacity: 1;
    left: 0;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: .04s * $i;
      }
    }
  }

  .sidebar__bridge_footer {
    left: 0;
    opacity: 1;
  }
}
.theme-light .sidebar__panel.active {
  background-color: $light-grey;
}

.theme-light .sidebar--is-expanded .sidebar__wrapper {
  border-right: 1px solid $med-grey;
}

// mobile
.sidebar--is-mobile {
  .sidebar__wrapper {
    @include transform(translateY(-100%));
    min-height: 100vh;
    top: inherit;
    @include transition(transform .13s ease-in-out);
  }

  .sidebar__panel_wrapper {
    display: none;
  }

  .sidebar__main,
  .sidebar__footer {
    width: 100%;
  }

  .sidebar__footer {
    li:first-child {
      border-bottom: 0;
    }
  }

  .sidebar__main_menu_item {
    opacity: 1;
  }
  .sidebar__main_menu_item--profile {
    .sidebar__main_menu_link--active::after {
      top: auto;
    }
  }
  .sidebar__panel.active {
    left: 0;
  }
}

// mobile open
.sidebar--is-open.sidebar--is-mobile {
  .open {
    display: none;
  }
  .close {
    display: block;
  }
  .sidebar__wrapper {
    @include transform(translateY(0));
    position: relative;
    width: 100%;
  }
  .sidebar__main_menu_item,
  .sidebar__main_menu_learner_item {
    overflow: hidden;
    height: 67px;
  }
  .sidebar__panel_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100.15vh;
    left: 60px;
    margin-top:58px;
  }
}

// mobile expanded
.sidebar--is-expanded.sidebar--is-mobile {
  .sidebar__wrapper {
    width: 60px;
    overflow: hidden;
  }
  .sidebar__main {
    width: 302px;
  }
  .sidebar__panel_wrapper {
    display: inherit;
  }
}
