@charset "utf-8";

.slide-editor {
  @include centered;
  @include shadow;
  min-height: $max-page-width;
  width: $max-page-width;

  img {
    max-width: 100%;
  }

  &__editor {
    @extend %no-outline;
    min-height: 500px;

    // IE 10 places the placeholder text above the editor without this.
    background-color: rgba(255, 255, 255, 0.01);
  }

  &__toolbar {
    $button-size: 40px;
    line-height: $button-size;
    padding-left: 1px;
    padding-right: 1px;

    color: $blue-grey;
    @include border-grey;
    @extend .border-tb;
    @include space(margin, l, right left);
    background-color: $white;

    &__button {
      @include margin-none;
      @extend %no-outline;
      @include padding-none;
      background: transparent;
      border: none; // TODO: switch to extend after g/32031 is merged
      height: $button-size;
      width: $button-size;

      // .active is not BEMmed because it's provided by Scribe.
      &.active, &--active {
        @include circular;
        @extend .grey-gradient-bg;
        box-shadow: inset 0 0 8px $indigo-op25;
      }
    }
  }

  & h1,
  & .h2 {
    margin-bottom: 0;
  }
}

.slide-type-picker__button {
  background-color: $white;
  width: 344px;
  padding: 12px;
  margin: 0 15px 15px 15px;
}

// content editing in TinyMCE
// see media_uploader.scss for the mediauploader plugin styles.
#tinymce img {
  max-width: 100%;
  height: auto;
}
.mce-container {
  border: 0 !important;
}

body#tinymce {
  height: auto;
  min-height: 20em;
  padding-bottom: 0;
  // img's inside of a notorious div
  .attachment img {
    display: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.mce-tinymce {
	// Avoid FOUC
	visibility: inherit !important;
	position: relative;
}

// end content editing

.course-template-title {
  border: 2px solid $blue;
  display: block;
  margin-top: 3px;
  min-width: 500px;
  outline: none;
  position: relative;
  top: -2px;
  left: -3px;
}

.fixed-toolbar .slide-editor {
  &__toolbar {
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;

    @extend .border-trbl;
  }

  &__toolbar-wrapper {
    position: fixed;
    width: $max-page-width;

    // we use a nonstandard color here to approximate the color of the
    // background gradient at this position.
    @include linear-gradient(to bottom, rgba(240, 242, 246, 1) 0%, rgba(240, 242, 246, 0) 25%, $fallback: transparent);
  }

  &__toolbar-placeholder {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
    height: 58px;
    @include space(margin, l, bottom);
    @include space(padding, xs, top bottom);
    @include space(padding, l, right left);
  }
}

.slide-type-picker {
  @include centered;
  @include space(margin, xl, bottom);
  width: $max-page-width;

  &__panels {
    width: 750px;
  }

  &__panel {
    @extend .pure-u-1;
    @include text-center;
    @include relative;
    width: 250px;
    font-family: $font-stack;
    button {
      @include relative;
      @include space(padding, m, top);
      @include rounded-corners-default;
      padding-bottom: 56px;
      width: 218px;
    }
    &__background {
      background-color: $white;
      @include rounded-corners-default;
      position: absolute;
      top: 0;
      bottom: 32px;
      right: 16px;
      left: 16px;
    }
    &__title {
      color: $blue;
      text-transform: uppercase;
      @include space(padding, xs, top bottom);
    }

    &__description {
      color: $blue-grey;
      width: 160px;
      @include small;
      @include centered;
    }
  }
}

.slide-editor-link-prompt {
  &__overlay {
    background: rgba(7, 25, 50, 0.15);
  }

  &__content {
    border: none;
    bottom: auto;
    left: 25vw;
    padding: 0;
    position: fixed;
    right: 25vw;
    top: 35vh;
    width: 40vw;
    border-radius: 0;
    padding: 0 2em 2em;
  }
}

.new-slide-editor {
  &__link-prompt {
    z-index: 10;
    position: fixed;
    border: 1px solid $input-grey;
    padding: 1em;
    background: $white;
    margin-top: 2em;
  }

  &__link-prompt-label {
    display: block;
  }

  &__link-prompt-label + &__link-prompt-label {
    margin-top: 0.5em;
  }

  &__link-prompt-caption {
    vertical-align: middle;
    display: inline-block;
    width: 3em;
  }

  &__link-prompt-input-container {
    display: inline-block;
    vertical-align: middle;
  }

  &__link-prompt-input {
    border: 1px solid $input-grey;
    padding: 0.25em;
    width: 12em;

    &:focus {
      border-color: $blue;
    }
  }

  &__link-prompt-actions, &__link-prompt-fieldset {
    display: inline-block;
    vertical-align: bottom;
  }

  &__link-prompt-actions {
    margin-left: 1em;
  }

  &__link-prompt-actions .btn {
    line-height: 1;

    @include button-focus();
  }

  &__link-info-overlay {
    background: $white;
    z-index: 10;
    position: fixed;
    border: 1px solid $input-grey;
    padding: 1em;
    margin-top: 2em;
    color: $dark-grey;
  }

  .slide-content {
    ul, ol {
      margin: 1.5em;
    }
  }
}
