@charset "utf-8";

.smart-group-rule-row {
  @extend .pure-g;
  @include space(margin, s, top bottom);
  position: relative;
  color: $dark-grey;
  @include breakpoint (small) {
    @include space(padding, s);
    @include space(padding, l, top);
    border-bottom: 1px solid $grey;
  }
}

.smart-group-rule-row__btn--delete {
  @include btn--reset();
  @include space(padding, s, top bottom);
  @extend .pure-u-2-24;
  @include breakpoint (small) {
    position: absolute;
    top: 0;
    right: 4px;
  }
}

.rule-select-container {
  @include breakpoint(large) {
    @include space(padding, m, right left);
  }
}

.rule-select__join-type-selector {
  @include large;
  @extend .border-b;
  border-color: $dark-grey;
  @include space(padding, l, top);
  @include space(padding, xl, bottom);
  @include space(margin, xl, bottom);
  line-height: 1;
}

.rule-select__join-type-selector .combo-box__list {
  padding-top: 0;
  padding-bottom: 0;
  top: 100%;
}

