.support-account{
  &__modal{
    padding: 0;
    max-width: 700px;
    min-width: 320px;
    width:75%;
    position: relative;
    margin: auto;
    .form-group{
      padding-bottom: $space-s;
      &:last-child{
        padding-bottom: 0;
      }
    }
  }

  &__modal-double-inputs {
    @include clearfix;
    > div {
      width: calc(50% - #{$space-xs});
      float: left;
      &:first-of-type{
        margin-right: $space-s;
      }
    }
  }

  &__modal-overlay {
    background-color: rgba($black, 0.5);
    overflow: auto;
    @include display(flex);
  }

  &__modal-header {
    padding: $space-xs;
    color: $blue-grey;
    position:relative;
    border-bottom: 1px solid $grey;
    font-size: 1.2rem;
  }

  &__modal-close-btn {
    position: absolute;
    right: $space-s;
    top:$space-xs;
    height:20px;
    width:20px;
    .gs-x{
      font-size: .7em;
    }
  }

  &__add-xml {
    padding: $space-s;
    padding-bottom: 0;
  }

  &__modal-text-input--long {
    width:100%;
    border: 1px solid $grey;
    padding: $space-xs;
  }

  &__modal-combo-box {
    border: 1px solid $grey;
    width:100%;
  }

  &__modal-textarea {
    border: 1px solid $grey;
    padding: $space-xs;
    padding-bottom: 0;
    width: 100%;
    height: 300px;
    vertical-align: top;
  }

  &__modal-footer {
    @include clearfix;
    padding: $space-s 0;
    .btn {
      float: right;
      margin-left: $space-s;
    }
  }

  &__modal-label {
    color: $input-grey;
    font-size: .9rem;
  }

  &__saml-certificate {
    @include space(padding, s, top right bottom left);
    @include space(margin, s, top);
    @include space(margin, xl, bottom);
    @extend .input-l;
    font-family: monospace;
    display: block;
  }

  &__hris-tab {
    &__data-send-type-radio-label {
      @include space(margin, s, top);
      display: block;

      & input[type="radio"] {
        @include space(margin, s, right);
      }
    }
  }
}
