@charset "utf-8";

//
// Learner Experience
//

@mixin mobile-padding {
  @include breakpoint(medium) {
    @include space(padding, s, right left);
  }
}
.learner-survey__wrapper {
  @include shadow;

  background-color: $grey;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.learner-survey__wrapper--full-viewport {
  height: 100vh;
}

.learner-survey {
  @include transition(all 0.25s ease-in-out);

  background-color: $grey;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &__sidebar-open {
    line-height: 32px;
    color: $blue-grey;
    border: none;
    background: none;
  }

  &--sidebar-open {
    @include breakpoint(large) {
      padding-left: 256px;
    }
  }
}

.learner-survey__welcome {
  @include centered;
  @extend .constrain-width;
  height: 76vh;
}


.learner-survey__welcome__content {
  padding-top: 25%;
  @include mobile-padding;
}

.learner-survey__header {
  background-color: $white;
  opacity: 0.85;
  position: absolute;
  text-align: center;
  width: inherit;
}

.learner-survey__progress-bar {
  width: 100%;
  height: 8px;
  background-color: $med-grey;
  border-bottom: 1px solid $dark-grey;
}

.learner-survey__progress-indicator {
  @include transition(transform 0.25s ease-in-out);

  background-color: $blue;
  height: 8px;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
}

.learner-survey__status {
  float: left;
  line-height: 36px;

  &--side-bar {
    @include space(padding, s, left);
    line-height: 50px;
  }
}

.learner-survey__come-back {
  @include space(margin, s, right);
  float: right;

  &--mobile {
    @include btn--reset();
    color: $med-grey;
    line-height: 38px;
  }
}

.learner-survey__arrows {
  position: relative;
  margin: 0 auto;
  width: 144px;
}

.learner-survey__content {
  height: 100%;
  overflow: hidden;
}

.learner-survey__nav {
  padding-top: 12px;
  height: 60px;
  width: 100%;

  &__button {
    color: $indigo;
    padding: 0;
    background: none;
    border:none;

    &__up {
      @include space(margin, s, right);
      @include space(margin, m, left);
    }

    &__down {
      @include space(margin, m, right);
      @include space(margin, s, left);
    }

    &--disabled {
      color: $grey;
    }
  }
}

.learner-survey__side-bar {
  width: 256px;
  left: -256px;
  position: absolute;
  background-color: $white;
  top: 0;
  bottom: 0;
  @include transition(all 0.25s ease-in-out);

  &--open {
    left: 0px;
    @include shadow;
  }

  &__close {
    @include space(padding, s, right);
    float: right;
    border: none;
    background: none;
  }

  &__header {
    padding-top: 6px;
    height: 61px;
    border-bottom: 1px solid $med-grey;
    color: $blue-grey;
    line-height: 48px;
    position: absolute;
    width: 100%;
  }

  &__question-list {
    counter-reset: section;
    margin-top: 62px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 100%;
  }

  &__question-list-item {
    @include space(padding, l, top bottom);
    @include space(padding, xl, right left);
    @include small;
    position: relative;
    counter-increment: section;

    border-bottom: 1px solid $grey;
    width: 100%;
    cursor: pointer;

    &:before {
      @include space(padding, m, right);
      @include transition(all 0.25s ease-in-out);

      content: counter(section);
      position: absolute;
      left: 8px;
      top: 8px;
    }

    &__responded {
      position: absolute;
      left: 8px;
      color: $blue;
    }

    &__required {
      position: absolute;
      left: 8px;
      bottom: 4px;
      color: $pink;
    }
  }
}

.learner-survey__question-list {
  @include centered;
  @extend .constrain-width;

  counter-reset: section;
  list-style: none;

  &__item {
    @include transition(all 0.25s ease-in-out);

    color: $indigo;
    counter-increment: section;
    margin: 23vh auto;
    opacity: 0.33;
    position: relative;
    @include transform(scale(0.95, 0.95));

    @include breakpoint(medium) {
      max-height: 75vh;
      overflow-y: auto;

      &__wrapper {
        padding-bottom: 100px;
      }
    }

    &::after {
      content: " ";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__statement {
      @include mobile-padding;
      &::before {
        @extend .base;
        @include bold;
        @include space(padding, xs, right);
        @include transition(all 0.25s ease-in-out);

        color: $indigo;
        content: counter(section) ".";
        line-height: 36px;
        margin-right: 100%;
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint(medium) {
          @include padding-none();
          display: block;
          position: static;
        }
      }

      &--active {
        opacity: 1.0;
        @include breakpoint(large) {

          @include transform(scale(1, 1));
        }

        &:before {
          @include breakpoint(medium) {
            color: $dark-grey;
          }
        }
      }
    }

    &--active {
      opacity: 1.0;
      @include breakpoint(large) {
        @include transform(scale(1, 1));
      }

      &::after {
        display: none;
      }
    }

    &--required {
      position: relative;
      &::before {
        @include space(padding, l, right);
        color: $pink;
        content: "*";
        position: absolute;
        top: 4px;
        right: 0;
        margin-right: 100%;

        @include breakpoint(medium) {
          left: 4px;
        }
      }
    }
  }
}
.theme-light .learner-survey__question-list__item--required::before {
  color: $neutral-danger;
}

.learner-survey__submit {
  @include mobile-padding;
  @include transition(opacity 0.25s ease-out);

  opacity: 0.33;

  &--active {
    opacity: 1.0;
  }

  &--unfinished {
    position: relative;
    &::before {
      @include space(padding, s, right);
      color: $pink;
      @include large;
      content: "*";
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 100%;
    }
  }
}
.theme-light .learner-survey__submit--unfinished::before {
  color: $neutral-danger;
}

// Likert widget

.likert {
  &__description {
    @include space(margin, l, top bottom);
    @include mobile-padding;
    @include x-medium;

    min-height: 32px;

    // icon

    &__icon {
      @include space(margin, s, right);
      @include transition(color 0.25s ease-out);

      border: 1px solid;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 24px;
    }

    &--lowest &__icon {
      @extend .likert-lowest;
      border-color: $likert-lowest;
    }

    &--low &__icon {
      @extend .likert-low;
      border-color: $likert-low;
    }

    &--neutral &__icon {
      @extend .likert-neutral;
      border-color: $likert-neutral;
    }

    &--high &__icon {
      @extend .likert-high;
      border-color: $likert-high;
    }

    &--highest &__icon {
      @extend .likert-highest;
      border-color: $likert-highest;
    }

    // label

    &__label {
      color: $med-grey;
      @include transition(color 0.25s ease-out);

      &--selected {
        color: $indigo;
      }
    }
  }

  &__levels {
    @include full-height;
    border-collapse: collapse;
    display: table;
    height: 100px;
    width: 100%;
  }

  &__level {
    $height: 100px;

    border-left: 2px solid $med-grey;
    border-right: 2px solid $med-grey;
    display: table-cell;
    height: $height;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 20%;

    // meter (the bar that goes up when selected)

    &__meter {
      @include transition(transform 0.25s ease-out);

      height: $height;
      left: 0;
      position: absolute;
      -webkit-transform: translate3d(0, $height * 0.9, 0);
      top: 0;
      transform: translate3d(0, $height * 0.9, 0);
      width: 100%;
    }

    &--lowest &__meter {
      @extend .likert-lowest-bg;
    }

    &--low &__meter {
      @extend .likert-low-bg;
    }

    &--neutral &__meter {
      @extend .likert-neutral-bg;
    }

    &--high &__meter {
      @extend .likert-high-bg;
    }

    &--highest &__meter {
      @extend .likert-highest-bg;
    }

    &--hovered &__meter {
      -webkit-transform: translate3d(0, $height * 0.1, 0);
      transform: translate3d(0, $height * 0.1, 0);
    }

    &--selected &__meter {
      @include transition(transform 0.1s);

      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    // contents

    &__contents {
      color: $med-grey;
      @include relative;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }

    &--selected &__contents {
      @include large;
      color: $white;
    }
  }

  &__labels {
    overflow: auto;

    &__highest {
      @include right;
      @extend .likert-highest;
    }

    &__lowest {
      @extend .left;
      @extend .likert-lowest;
    }
  }
}

.survey-preview {
  @include full-height;
  padding: 0;
  margin: 0;
}

.survey-preview iframe {
  position: relative;
  margin: 0 auto;
  border: 0;
  display: block;
}

.survey-preview-responsive-picker {
  @extend %list--unstyled;
  @include clearfix;
  text-align: center;
  font-size: 0;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 49%;
  @include transform(translateX(-50%) translateY(-50%));
  background-color: rgba($blue-grey, 0.8);
}

.survey-preview-responsive-picker > li {
  display: block;
  font-size: 16px;
  float: left;
}

.survey-preview-responsive-picker button {
  height: 75px;
}

.survey-preview-responsive-picker button:focus {
  box-shadow: none;
  color: $blue;
}

.survey-preview-responsive-picker button.active {
  color: #34bbff;
  border-bottom: 4px solid #34bbff;
}

.survey-preview--with-header {
  padding: 20px;
  padding-top: 95px;
  margin-top: -75px; /* header bar height */
}
