.distribution-results__score-chart-container {
  text-align: center;
}

.distribution-results__score-chart {

  .circle {
    stroke-width: 2px;
    fill: $white-op70;

    &--aggregate {
      stroke: $indigo;
      fill: rgba(lighten($indigo, 15%), 0.9);
    }
  }

  .y-axis {
    text {
      fill: $blue; // cause we want 'em to look like links
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;

      &.question-position--filtered {
        fill: $chart-grey;
      }
    }
  }

  .grid-lines {
    .tick {
      stroke: $grey;
    }

    path {
      stroke-width: 0;
    }
  }

  .slider {
    &__frame {
      fill: $grey;
      stroke: $chart-grey;
      stroke-width: 1px;
    }

    &__extent {
      fill: lighten($indigo, 15%);
    }

    &__caption {
      font-size: 12px;
      fill: $dark-grey;
    }

    &__handle {
      fill: $chart-grey;
      stroke: $blue-grey;
      stroke-width: 1px;
      cursor: ew-resize;
    }
  }

  .ruler {
    stroke-width: 1px;
    stroke: $dark-grey;

    &__shadow {
      fill: rgba(0,0,0,0.025);
      stroke: none;
    }
  }

  .h-ruler {
    stroke-width: 1px;
    stroke: $med-grey;
  }

  .question-inspector {
    text { // all the textual content
      fill: inherit;
    }

    &__frame {
      fill: rgba(255,255,255,0.9);
      stroke: $blue;
      stroke-width: 3px;
    }

    &__header {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

@media only screen and (max-width: 774px) {
  .distribution-results__action-bar {
    display: none;
  }
  .group-picker__popup {
    display: none !important; /* ugh, need to override qtip's inline styles */
  }
}

.group-picker {
  $popup-width: 640px;
  $popup-height: 360px;
  $group-box-height: 200px;
  $separator-padding: 20px; /* what we get from padding-trbl-m */

  font-weight: bold;

  .checkbox {
    font-weight: inherit;
    display: inline-block;
    width: 48%;
  }

  .checkbox__label-wrapper {
    color: $white;
    line-height: 20px; // to be vertically centered against the checkbox imgs
  }

  &__popup {
    @include space(padding, m);

    max-width: inherit;
    width: $popup-width;
    height: $popup-height;
    background: rgba($indigo, 0.9);
    border-color: rgba($indigo, 0.9);
  }

  &__close-popup-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: $white;
  }

  &__groups {
    position: relative;
    max-height: $group-box-height;
    overflow: auto;
  }

  &__group:not(.checkbox--checked) .checkbox__display-checkbox {
    background-color: $transparent !important;
  }

  &__group.checkbox--checked .checkbox__display-checkbox {
    border-color: $transparent;
  }

  hr {
    border-color: rgba(255,255,255,0.25);
    width: $popup-width + $separator-padding*2;
    margin-left: $separator-padding * -2;
  }
}

.likert-chart {
  &__tooltip {
    background: rgba($indigo, 0.9);
    border-color: rgba($indigo, 0.9);
    color: $white;
  }

  &__tooltip-separator {
    height: 1px;
    border: none;
    background: $transparent;

    &:before {
      background: $blue-grey;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      height: 1px;
    }
  }
}
