.tag-pill {
  display: inline-block;
  border: 1px solid $dark-grey;
  color: $dark-grey;
  padding: 0.5em 1em;
  margin-right: 0.75em;
  margin-bottom: 0.75em;
  border-radius: 6px;

  &--highlight {
    border-color: $purple;
    color: $purple;
  }

  &--operator {
    border-color: $blue;
    color: $blue;
  }
}