.tagged-item-list {

  &__icon {
    @include space(padding, xl, right);
    @extend .med-grey;
    @extend .gs-1x;
  }

  &__item {
    @include space(padding, l, top bottom);
    @include space(padding, m, left);
    @include large-content-area;
    @include centered;
    border-bottom: 1px solid $grey;
    position: relative;

    &__title {
      @include flex(1 1 auto);
    }

    &__wrap {
      @include display(flex);
      @include breakpoint(medium) {
        @include space(padding, xs, right);
      }
    }
  }

  &__item:first-of-type {
    border-top: 1px solid $grey;
  }

  &__tag-button {
    @include align-self(center);
    @include space(margin, l, right);
    @include breakpoint(small) {
      @include margin-none;
    }
  }

  &__popup {
    position: absolute;
    max-width: 400px;
    background: $white;
    @include space(padding, s, top left);
    top: 0;
    right: 0;

    @include rounded-corners-default;
    @include shadow;

    .tag-listing {
      font-size: inherit;
      color: $dark-grey;
      @include space(margin, s, top bottom);
    }

    -webkit-animation-name: anime__bounceIn;
    animation-name: anime__bounceIn;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  &__popup-header {
    color: $dark-grey;
    font-weight: 700;
    font-size: 12px;
    @include space(margin, s, bottom);
  }

  &__popup-close-btn {
    position: absolute;
    right: 1rem;
    font-size: 6px;
  }
}

.tagged-item-list--empty {
  @include text-center;
  @include space(padding, s, top bottom);
  color: $dark-grey;
}