.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__content {
  @include transition(opacity, .25s);

  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  margin-top: 14px;
  left: -71px;
  word-wrap: break-word;
  min-width: 270px;
  max-width: 400px;
  background-color: $white;
  text-align: center;

  &--dark {
    min-width: 170px;
    background-color: $indigo;
    color: $white;
    padding: 11px 20px 10px 20px;
    white-space: nowrap;
    text-transform: uppercase;
  }

  &--visible {
    visibility: visible;
    opacity: 100;
  }
}
.tooltip__content * {
  float: none;
}

// arrow
.tooltip__content:before {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  height: 0;
  width: 0;
  margin-left: -9px;
  border: 9px solid $transparent;
  border-bottom-color: $white;
}

.tooltip__content--right-align {
  left: initial;
  right: 0;
}

.tooltip__content--right-align:before {
  left: initial;
  right: 6%;
}

.tooltip__content--dark:before {
  border-bottom-color: $indigo;
}

// lists
.tooltip__list-button {
  width: 100%;
  border: none;
  background: $transparent;
  text-transform: uppercase;
}
.tooltip__list-button:hover {
  background-color: $blue;
  color: $white;
}
.tooltip__list-icon:before {
  @include x-small;
}
