@charset "utf-8";

.tray__list-header {
  border-bottom: 1px solid $grey;
  position: relative;
  color: $black;
  @include space(margin, xxl, top);
  @include space(margin, xs, bottom);
  @include space(padding, xl, right);
  @include space(padding, xs, bottom);
}

.tray__list-header__link {
  position: absolute;
  top: 0;
  right: 0;
  color: $dark-grey;
}

.tray__list-header--for-learners {
  @include header-with-colored-block;
  color: $blue;
}

.tray__list-header--not-for-learners {
  @include header-with-colored-block;
  color: $black;
}

.tray__list--empty {
  color: $dark-grey;
  list-style-type: none;
  text-align: center;
  @include space(padding, xl, left right);
  @include space(padding, s, top bottom);
}
