@charset "utf-8";

.vocabulary-editor {
  @include centered;
  width: $max-page-width;

  h3 {
    @include space(padding, xs, left);
    line-height: 48px;
  }

  .divider-right {
    border-right: 1px solid $grey;
  }

  &-answer {
    &__term {
      @include bold;
    }
  }

  .btn--reset {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
