.webhooks-table {
  table-layout: fixed;

  &__name, &__url {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30%;
  }
}

.webhook {
  &__footer {
    @include clearfix;
    padding: $space-s 0;
    text-align: center;
    margin-left: $space-s;
  }

  &__title {
    color: $indigo;
    @include x-large;
    margin: 0;
    width: 50%;
  }

  &__url {
    width: 75%;
  }
}
