@charset "utf-8";

/*doc
---
title: No Mobile Breakpoints
name: layout-breakpoints-no-mobile
category: Layout
---
/**
 * same as _breakpoints but without mobile
 */

$breakpoint-s: 568px;
$breakpoint-mobile: 767px;
$breakpoint-desktop: 768px;
$breakpoint-wide-desktop: 1200px;
$breakpoint-height: 930px;
$breakpoint-height-mobile: 700px;

$media-query-l: "screen and (min-width: #{$breakpoint-s})";
$media-query-s: "screen and (max-width: #{$breakpoint-s}), screen and (max-height: 400px)";
$media-query-mobile: "screen and (max-width: #{$breakpoint-mobile})";
$media-query-desktop: "screen and (min-width: #{$breakpoint-desktop})";
$media-query-wide-desktop: "screen and (min-width: #{$breakpoint-wide-desktop})";
$media-query-short: "screen and (max-height: #{$breakpoint-height})";
$media-query-short-mobile: "screen and (max-height: #{$breakpoint-height-mobile})";

@mixin breakpoint($size) {
  @if $size == large {
    @content;
  }
}

@mixin breakpointify($selector) {
  #{$selector} {
    @content;
  }
}
