//
// Icon Font: getsmart-font
//

@font-face {
  font-family: "getsmart-font";
  src: url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.eot");
  src: url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.eot?#iefix") format("embedded-opentype"),
       url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.woff") format("woff"),
       url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.ttf") format("truetype"),
       url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.svg#getsmart-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "getsmart-font";
    src: url("../fonts/getsmart-font_cb05eb1f553abbd49e8dc8d6254b2569.svg#getsmart-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.gs-architecture:before,
.gs-arrow-down:before,
.gs-arrow-left:before,
.gs-arrow-right:before,
.gs-arrow-up:before,
.gs-arrow_drawn_01:before,
.gs-arrow_drawn_02:before,
.gs-arrow_drawn_03:before,
.gs-arrow_drawn_04:before,
.gs-arrow_drawn_05:before,
.gs-arrow_drawn_06:before,
.gs-arrow_drawn_07:before,
.gs-audio:before,
.gs-bell:before,
.gs-bold:before,
.gs-book:before,
.gs-books:before,
.gs-calendar:before,
.gs-camera:before,
.gs-catalog:before,
.gs-caution:before,
.gs-certificate:before,
.gs-check:before,
.gs-check-circle:before,
.gs-collapse:before,
.gs-comment-count-bg:before,
.gs-comments:before,
.gs-computer:before,
.gs-controls:before,
.gs-csv:before,
.gs-csv-add:before,
.gs-csv-remove:before,
.gs-cube:before,
.gs-dashboard:before,
.gs-desktop:before,
.gs-dev-dots:before,
.gs-doc_audio:before,
.gs-doc_calendar:before,
.gs-doc_code:before,
.gs-doc_excel:before,
.gs-doc_illustrator:before,
.gs-doc_image:before,
.gs-doc_indesign:before,
.gs-doc_pdf:before,
.gs-doc_photoshop:before,
.gs-doc_powerpoint:before,
.gs-doc_slides:before,
.gs-doc_spreadsheet:before,
.gs-doc_text:before,
.gs-doc_vcard:before,
.gs-doc_video:before,
.gs-doc_word:before,
.gs-doc_zip:before,
.gs-dot:before,
.gs-download:before,
.gs-drag-handle:before,
.gs-duplicate:before,
.gs-edit:before,
.gs-education:before,
.gs-expand:before,
.gs-external-course:before,
.gs-film:before,
.gs-filter:before,
.gs-finetune:before,
.gs-gear:before,
.gs-glossary:before,
.gs-groups:before,
.gs-hamburger-menu:before,
.gs-heading-1:before,
.gs-heading-2:before,
.gs-help:before,
.gs-hide-menu:before,
.gs-image:before,
.gs-image-delete:before,
.gs-in-class:before,
.gs-italic:before,
.gs-key:before,
.gs-learners:before,
.gs-lens:before,
.gs-lightbulb:before,
.gs-link:before,
.gs-lock:before,
.gs-logo:before,
.gs-lti:before,
.gs-marketplace:before,
.gs-media:before,
.gs-menu:before,
.gs-message:before,
.gs-minus-sign:before,
.gs-more-dots:before,
.gs-movedown:before,
.gs-moveup:before,
.gs-next-divider:before,
.gs-off:before,
.gs-ol:before,
.gs-ol4:before,
.gs-online:before,
.gs-paperclip:before,
.gs-phone-landscape:before,
.gs-phone-portrait:before,
.gs-piechart:before,
.gs-place-bottom:before,
.gs-place-left:before,
.gs-place-top:before,
.gs-place-wide:before,
.gs-plus:before,
.gs-plus-sign:before,
.gs-preview:before,
.gs-quiz-question:before,
.gs-redo:before,
.gs-reply:before,
.gs-reports:before,
.gs-search:before,
.gs-server:before,
.gs-show-menu:before,
.gs-slide-content:before,
.gs-sliders:before,
.gs-smart-group:before,
.gs-sort:before,
.gs-survey-likert:before,
.gs-surveys:before,
.gs-switch-role:before,
.gs-tablet:before,
.gs-tag:before,
.gs-text:before,
.gs-tools:before,
.gs-trash:before,
.gs-typography:before,
.gs-ul:before,
.gs-unlock:before,
.gs-up:before,
.gs-up-graph:before,
.gs-upload:before,
.gs-upvote:before,
.gs-user:before,
.gs-users:before,
.gs-video:before,
.gs-webcam:before,
.gs-x:before,
.gs-zip:before {
  display: inline-block;
  font-family: "getsmart-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.gs-architecture:before { content: "\f182"; }
.gs-arrow-down:before { content: "\f100"; }
.gs-arrow-left:before { content: "\f101"; }
.gs-arrow-right:before { content: "\f102"; }
.gs-arrow-up:before { content: "\f103"; }
.gs-arrow_drawn_01:before { content: "\f15f"; }
.gs-arrow_drawn_02:before { content: "\f160"; }
.gs-arrow_drawn_03:before { content: "\f161"; }
.gs-arrow_drawn_04:before { content: "\f162"; }
.gs-arrow_drawn_05:before { content: "\f163"; }
.gs-arrow_drawn_06:before { content: "\f164"; }
.gs-arrow_drawn_07:before { content: "\f165"; }
.gs-audio:before { content: "\f104"; }
.gs-bell:before { content: "\f105"; }
.gs-bold:before { content: "\f106"; }
.gs-book:before { content: "\f107"; }
.gs-books:before { content: "\f108"; }
.gs-calendar:before { content: "\f109"; }
.gs-camera:before { content: "\f15b"; }
.gs-catalog:before { content: "\f10a"; }
.gs-caution:before { content: "\f10b"; }
.gs-certificate:before { content: "\f10c"; }
.gs-check:before { content: "\f10d"; }
.gs-check-circle:before { content: "\f10e"; }
.gs-collapse:before { content: "\f14e"; }
.gs-comment-count-bg:before { content: "\f15c"; }
.gs-comments:before { content: "\f149"; }
.gs-computer:before { content: "\f179"; }
.gs-controls:before { content: "\f17a"; }
.gs-csv:before { content: "\f10f"; }
.gs-csv-add:before { content: "\f110"; }
.gs-csv-remove:before { content: "\f111"; }
.gs-cube:before { content: "\f17b"; }
.gs-dashboard:before { content: "\f14f"; }
.gs-desktop:before { content: "\f112"; }
.gs-dev-dots:before { content: "\f17c"; }
.gs-doc_audio:before { content: "\f168"; }
.gs-doc_calendar:before { content: "\f169"; }
.gs-doc_code:before { content: "\f16a"; }
.gs-doc_excel:before { content: "\f16b"; }
.gs-doc_illustrator:before { content: "\f16c"; }
.gs-doc_image:before { content: "\f16d"; }
.gs-doc_indesign:before { content: "\f16e"; }
.gs-doc_pdf:before { content: "\f16f"; }
.gs-doc_photoshop:before { content: "\f170"; }
.gs-doc_powerpoint:before { content: "\f171"; }
.gs-doc_slides:before { content: "\f172"; }
.gs-doc_spreadsheet:before { content: "\f173"; }
.gs-doc_text:before { content: "\f174"; }
.gs-doc_vcard:before { content: "\f175"; }
.gs-doc_video:before { content: "\f176"; }
.gs-doc_word:before { content: "\f177"; }
.gs-doc_zip:before { content: "\f178"; }
.gs-dot:before { content: "\f188"; }
.gs-download:before { content: "\f166"; }
.gs-drag-handle:before { content: "\f113"; }
.gs-duplicate:before { content: "\f114"; }
.gs-edit:before { content: "\f115"; }
.gs-education:before { content: "\f17d"; }
.gs-expand:before { content: "\f150"; }
.gs-external-course:before { content: "\f116"; }
.gs-film:before { content: "\f17e"; }
.gs-filter:before { content: "\f117"; }
.gs-finetune:before { content: "\f187"; }
.gs-gear:before { content: "\f118"; }
.gs-glossary:before { content: "\f119"; }
.gs-groups:before { content: "\f11a"; }
.gs-hamburger-menu:before { content: "\f11b"; }
.gs-heading-1:before { content: "\f11c"; }
.gs-heading-2:before { content: "\f11d"; }
.gs-help:before { content: "\f11e"; }
.gs-hide-menu:before { content: "\f11f"; }
.gs-image:before { content: "\f120"; }
.gs-image-delete:before { content: "\f18b"; }
.gs-in-class:before { content: "\f121"; }
.gs-italic:before { content: "\f122"; }
.gs-key:before { content: "\f123"; }
.gs-learners:before { content: "\f124"; }
.gs-lens:before { content: "\f183"; }
.gs-lightbulb:before { content: "\f125"; }
.gs-link:before { content: "\f126"; }
.gs-lock:before { content: "\f127"; }
.gs-logo:before { content: "\f128"; }
.gs-lti:before { content: "\f18a"; }
.gs-marketplace:before { content: "\f14a"; }
.gs-media:before { content: "\f129"; }
.gs-menu:before { content: "\f151"; }
.gs-message:before { content: "\f12a"; }
.gs-minus-sign:before { content: "\f15d"; }
.gs-more-dots:before { content: "\f12b"; }
.gs-movedown:before { content: "\f12c"; }
.gs-moveup:before { content: "\f12d"; }
.gs-next-divider:before { content: "\f189"; }
.gs-off:before { content: "\f152"; }
.gs-ol:before { content: "\f12e"; }
.gs-ol4:before { content: "\f12f"; }
.gs-online:before { content: "\f130"; }
.gs-paperclip:before { content: "\f167"; }
.gs-phone-landscape:before { content: "\f131"; }
.gs-phone-portrait:before { content: "\f132"; }
.gs-piechart:before { content: "\f17f"; }
.gs-place-bottom:before { content: "\f18c"; }
.gs-place-left:before { content: "\f18d"; }
.gs-place-top:before { content: "\f18e"; }
.gs-place-wide:before { content: "\f18f"; }
.gs-plus:before { content: "\f133"; }
.gs-plus-sign:before { content: "\f154"; }
.gs-preview:before { content: "\f134"; }
.gs-quiz-question:before { content: "\f135"; }
.gs-redo:before { content: "\f136"; }
.gs-reply:before { content: "\f15a"; }
.gs-reports:before { content: "\f137"; }
.gs-search:before { content: "\f138"; }
.gs-server:before { content: "\f184"; }
.gs-show-menu:before { content: "\f139"; }
.gs-slide-content:before { content: "\f13a"; }
.gs-sliders:before { content: "\f13b"; }
.gs-smart-group:before { content: "\f13c"; }
.gs-sort:before { content: "\f13d"; }
.gs-survey-likert:before { content: "\f13e"; }
.gs-surveys:before { content: "\f13f"; }
.gs-switch-role:before { content: "\f159"; }
.gs-tablet:before { content: "\f140"; }
.gs-tag:before { content: "\f190"; }
.gs-text:before { content: "\f141"; }
.gs-tools:before { content: "\f15e"; }
.gs-trash:before { content: "\f142"; }
.gs-typography:before { content: "\f181"; }
.gs-ul:before { content: "\f143"; }
.gs-unlock:before { content: "\f144"; }
.gs-up:before { content: "\f156"; }
.gs-up-graph:before { content: "\f185"; }
.gs-upload:before { content: "\f145"; }
.gs-upvote:before { content: "\f14b"; }
.gs-user:before { content: "\f157"; }
.gs-users:before { content: "\f158"; }
.gs-video:before { content: "\f146"; }
.gs-webcam:before { content: "\f191"; }
.gs-x:before { content: "\f147"; }
.gs-zip:before { content: "\f148"; }

$font-getsmart-font-architecture: "\f182";
$font-getsmart-font-arrow-down: "\f100";
$font-getsmart-font-arrow-left: "\f101";
$font-getsmart-font-arrow-right: "\f102";
$font-getsmart-font-arrow-up: "\f103";
$font-getsmart-font-arrow_drawn_01: "\f15f";
$font-getsmart-font-arrow_drawn_02: "\f160";
$font-getsmart-font-arrow_drawn_03: "\f161";
$font-getsmart-font-arrow_drawn_04: "\f162";
$font-getsmart-font-arrow_drawn_05: "\f163";
$font-getsmart-font-arrow_drawn_06: "\f164";
$font-getsmart-font-arrow_drawn_07: "\f165";
$font-getsmart-font-audio: "\f104";
$font-getsmart-font-bell: "\f105";
$font-getsmart-font-bold: "\f106";
$font-getsmart-font-book: "\f107";
$font-getsmart-font-books: "\f108";
$font-getsmart-font-calendar: "\f109";
$font-getsmart-font-camera: "\f15b";
$font-getsmart-font-catalog: "\f10a";
$font-getsmart-font-caution: "\f10b";
$font-getsmart-font-certificate: "\f10c";
$font-getsmart-font-check: "\f10d";
$font-getsmart-font-check-circle: "\f10e";
$font-getsmart-font-collapse: "\f14e";
$font-getsmart-font-comment-count-bg: "\f15c";
$font-getsmart-font-comments: "\f149";
$font-getsmart-font-computer: "\f179";
$font-getsmart-font-controls: "\f17a";
$font-getsmart-font-csv: "\f10f";
$font-getsmart-font-csv-add: "\f110";
$font-getsmart-font-csv-remove: "\f111";
$font-getsmart-font-cube: "\f17b";
$font-getsmart-font-dashboard: "\f14f";
$font-getsmart-font-desktop: "\f112";
$font-getsmart-font-dev-dots: "\f17c";
$font-getsmart-font-doc_audio: "\f168";
$font-getsmart-font-doc_calendar: "\f169";
$font-getsmart-font-doc_code: "\f16a";
$font-getsmart-font-doc_excel: "\f16b";
$font-getsmart-font-doc_illustrator: "\f16c";
$font-getsmart-font-doc_image: "\f16d";
$font-getsmart-font-doc_indesign: "\f16e";
$font-getsmart-font-doc_pdf: "\f16f";
$font-getsmart-font-doc_photoshop: "\f170";
$font-getsmart-font-doc_powerpoint: "\f171";
$font-getsmart-font-doc_slides: "\f172";
$font-getsmart-font-doc_spreadsheet: "\f173";
$font-getsmart-font-doc_text: "\f174";
$font-getsmart-font-doc_vcard: "\f175";
$font-getsmart-font-doc_video: "\f176";
$font-getsmart-font-doc_word: "\f177";
$font-getsmart-font-doc_zip: "\f178";
$font-getsmart-font-dot: "\f188";
$font-getsmart-font-download: "\f166";
$font-getsmart-font-drag-handle: "\f113";
$font-getsmart-font-duplicate: "\f114";
$font-getsmart-font-edit: "\f115";
$font-getsmart-font-education: "\f17d";
$font-getsmart-font-expand: "\f150";
$font-getsmart-font-external-course: "\f116";
$font-getsmart-font-film: "\f17e";
$font-getsmart-font-filter: "\f117";
$font-getsmart-font-finetune: "\f187";
$font-getsmart-font-gear: "\f118";
$font-getsmart-font-glossary: "\f119";
$font-getsmart-font-groups: "\f11a";
$font-getsmart-font-hamburger-menu: "\f11b";
$font-getsmart-font-heading-1: "\f11c";
$font-getsmart-font-heading-2: "\f11d";
$font-getsmart-font-help: "\f11e";
$font-getsmart-font-hide-menu: "\f11f";
$font-getsmart-font-image: "\f120";
$font-getsmart-font-image-delete: "\f18b";
$font-getsmart-font-in-class: "\f121";
$font-getsmart-font-italic: "\f122";
$font-getsmart-font-key: "\f123";
$font-getsmart-font-learners: "\f124";
$font-getsmart-font-lens: "\f183";
$font-getsmart-font-lightbulb: "\f125";
$font-getsmart-font-link: "\f126";
$font-getsmart-font-lock: "\f127";
$font-getsmart-font-logo: "\f128";
$font-getsmart-font-lti: "\f18a";
$font-getsmart-font-marketplace: "\f14a";
$font-getsmart-font-media: "\f129";
$font-getsmart-font-menu: "\f151";
$font-getsmart-font-message: "\f12a";
$font-getsmart-font-minus-sign: "\f15d";
$font-getsmart-font-more-dots: "\f12b";
$font-getsmart-font-movedown: "\f12c";
$font-getsmart-font-moveup: "\f12d";
$font-getsmart-font-next-divider: "\f189";
$font-getsmart-font-off: "\f152";
$font-getsmart-font-ol: "\f12e";
$font-getsmart-font-ol4: "\f12f";
$font-getsmart-font-online: "\f130";
$font-getsmart-font-paperclip: "\f167";
$font-getsmart-font-phone-landscape: "\f131";
$font-getsmart-font-phone-portrait: "\f132";
$font-getsmart-font-piechart: "\f17f";
$font-getsmart-font-place-bottom: "\f18c";
$font-getsmart-font-place-left: "\f18d";
$font-getsmart-font-place-top: "\f18e";
$font-getsmart-font-place-wide: "\f18f";
$font-getsmart-font-plus: "\f133";
$font-getsmart-font-plus-sign: "\f154";
$font-getsmart-font-preview: "\f134";
$font-getsmart-font-quiz-question: "\f135";
$font-getsmart-font-redo: "\f136";
$font-getsmart-font-reply: "\f15a";
$font-getsmart-font-reports: "\f137";
$font-getsmart-font-search: "\f138";
$font-getsmart-font-server: "\f184";
$font-getsmart-font-show-menu: "\f139";
$font-getsmart-font-slide-content: "\f13a";
$font-getsmart-font-sliders: "\f13b";
$font-getsmart-font-smart-group: "\f13c";
$font-getsmart-font-sort: "\f13d";
$font-getsmart-font-survey-likert: "\f13e";
$font-getsmart-font-surveys: "\f13f";
$font-getsmart-font-switch-role: "\f159";
$font-getsmart-font-tablet: "\f140";
$font-getsmart-font-tag: "\f190";
$font-getsmart-font-text: "\f141";
$font-getsmart-font-tools: "\f15e";
$font-getsmart-font-trash: "\f142";
$font-getsmart-font-typography: "\f181";
$font-getsmart-font-ul: "\f143";
$font-getsmart-font-unlock: "\f144";
$font-getsmart-font-up: "\f156";
$font-getsmart-font-up-graph: "\f185";
$font-getsmart-font-upload: "\f145";
$font-getsmart-font-upvote: "\f14b";
$font-getsmart-font-user: "\f157";
$font-getsmart-font-users: "\f158";
$font-getsmart-font-video: "\f146";
$font-getsmart-font-webcam: "\f191";
$font-getsmart-font-x: "\f147";
$font-getsmart-font-zip: "\f148";
