@charset "utf-8";

/**
 * overrides.scss
 * Overrides for existing vendor styles
 */

.pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: $font-stack;
}

[class *= "pure-u"].centered {
  display: block;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

.react-toggle-track {
  background-color: $dark-grey;
}

.react-toggle:hover .react-toggle-track {
  background-color: $blue-grey;
}

.react-toggle--checked .react-toggle-track {
  background-color: $blue;
}

.react-toggle.react-toggle--checked:hover .react-toggle-track {
  background-color: $blue-dk;
}

.react-toggle-thumb {
  border-color: $dark-grey;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: $blue;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px $blue;
  -moz-box-shadow: 0px 0px 3px 2px $blue;
  box-shadow: 0px 0px 2px 3px $blue;
}
