@charset "utf-8";
$zIndex-point5:50; //TODO: We need this because we need a value between 0 and .sidebar, which has a very low z-index of 100
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;
$zIndex-11: 1100;
$zIndex-200: 20000; // qtip's start at 15000
$zIndex-210: 21000;

.editable-text__ruler                                          { z-index: -1; }
.enrollment-list-table .enrollment-list-item__due-date {
  .optional-date__label--hidden                                { z-index: -1; }
}

// like screenreader-only, but 1. simpler and 2. still takes up space
.invisible-focusable                                           { z-index: -1; }
.spacer                                                        { z-index: -1; }


// Do we even need these?

/*
 * The structure of this list should mirror the stacking context structure of our app.
 * If you need a primer on stacking contexts, go here: http://philipwalton.com/articles/what-no-one-told-you-about-z-index/
 * If an element is a known child of a element with z-index and non-static position (e.g. the parent has a stacking context),
 * then you should indent its location in this file.
e.g.

.context-1 { z-index: 0 }
  .context-1-1 { z-index: 0 }
  .context-1-2 { z-index: $zIndex-1 }
    .context-1-2-1 {z-index: 0}
.context-2 { z-index: $zIndex-1 }
.context-3 { z-index: $zIndex-2 }
  .context-3-1 { z-index: 0 }
.context-4 { z-index: $zIndex-3 }
    .context-4-1 { z-index: 0}
*/


.lynda-course-summary                                          { z-index: 0; }
  .lynda-course-summary__course-header-wrapper                   { z-index: $zIndex-1; }
  .lynda-course-summary__course-header__checkbox                 { z-index: $zIndex-1; }
  .lynda-course-summary__course-header:after                     { z-index: $zIndex-2; }

.lynda-categories                                              { z-index: 0; }
  .lynda-categories__category:after                              { z-index: $zIndex-1; }
  .lynda-categories__course-count                                { z-index: $zIndex-2; }

.markets__lynda__basket-footer                                 { z-index: $zIndex-point5}

.learner-program__header-animation                             { z-index: -1; }
  .learner-program__item-list                                    { z-index: $zIndex-1; }
  .learner-program__header--collapsed                            { z-index: $zIndex-2; }

//TODO: Indent all these element's z-indexes if they don't form a root stacking context (which is probably most of them)

.csv-preview__checkbox                                         { z-index: $zIndex-1; }
.certificate__mask                                             { z-index: $zIndex-1; }
.combo-box__list                                               { z-index: $zIndex-1; }
.tooltip__content                                              { z-index: $zIndex-1; }
.editable-textarea__input:focus                                { z-index: $zIndex-1; }
.factoid-editor .multiple-phrases .factoid-editor__title-input { z-index: $zIndex-1; }
.factoid-editor .phrase-list .phrase-list__wrapper--editing    { z-index: $zIndex-1; }
.learner-survey__header                                        { z-index: $zIndex-1; }
.library-list-item__revealer                                   { z-index: $zIndex-1; }
.media-uploader-close                                          { z-index: $zIndex-1; }
.mejs-chapters                                                 { z-index: $zIndex-1; }
.mejs-controls .mejs-volume-button .mejs-volume-slider         { z-index: $zIndex-1; }
.mejs-postroll-close                                           { z-index: $zIndex-1; }
.no-touch .enrollment-list-table {
  .enrollment-list-item__due-date:hover {
    .no-touch input.date-input__selector--focused              { z-index: $zIndex-1; }
  }
}
.no-touch .optional-date__input--open                          { z-index: $zIndex-1; }
.progress-bar .progress-indicators                             { z-index: $zIndex-1; }
.pure-menu ul                                                  { z-index: $zIndex-1; }
.slide-template-preview-list                                   { z-index: $zIndex-1; }
.sidebar                                                       { z-index: $zIndex-1; }
.sidebar__main_menu_link:hover::after                          { z-index: $zIndex-1; }
.sidebar__main_menu_link--active:hover::after                  { z-index: $zIndex-1; }
.sidebar__panel                                                { z-index: $zIndex-1; }
.sidebar--is-mobile .sidebar__panel_wrapper                    { z-index: $zIndex-1; }
.refinement-group__heading-mobile                              { z-index: $zIndex-1; }
.filter-type-selector__cancel                                  { z-index: $zIndex-1; }
.tray-layout__tray                                             { z-index: $zIndex-1; }
.tray-layout__content                                          { z-index: $zIndex-2; }

// needed so that it stays on top of the user name rendered by UserAvatar
.learner-profile__avatar-menu                                  { z-index: $zIndex-1; }

.combo-box__box                                                { z-index: $zIndex-2; }
.learner-survey__side-bar                                      { z-index: $zIndex-2; }
.library-list-item__overlay                                    { z-index: $zIndex-2; }
.fixed-toolbar .slide-editor__toolbar-wrapper                  { z-index: $zIndex-2; }
.mejs-container-fullscreen                                     { z-index: $zIndex-2; }
.mejs-postroll-layer                                           { z-index: $zIndex-2; }
.phrase-list .factoid-distractor-list__btn--delete             { z-index: $zIndex-2; }
.phrase-list .factoid-distractor-list__editor--editing         { z-index: $zIndex-2; }
.program-editor__header                                        { z-index: $zIndex-2; } // position over any inputs
.pure-form .pure-group input:focus                             { z-index: $zIndex-2; }
.pure-menu.pure-menu-open                                      { z-index: $zIndex-2; }
.authoring-heading                                             { z-index: $zIndex-2; }
.refinement-group__cancel                                      { z-index: $zIndex-2; }
.refinement-group__close                                       { z-index: $zIndex-2; }
.sidebar__wrapper                                              { z-index: $zIndex-2; }
.sidebar__panel.active                                         { z-index: $zIndex-2; }
.smart-group-picker__input                                     { z-index: $zIndex-2; }

.library-list-item-tags__popup                                 { z-index: $zIndex-3; }
ic-autocomplete[is-open] ic-autocomplete-list                  { z-index: $zIndex-3; }
.learner-survey__status                                        { z-index: $zIndex-3; }
.combo-box--open .combo-box__list                              { z-index: $zIndex-3; }
.smart-group-picker .bridge-ui-list                            { z-index: $zIndex-3; }
.tagged-item-list__popup                                       { z-index: $zIndex-3; }

.autocomplete .autocomplete__list                              { z-index: $zIndex-4; }
.search-bar input                                              { z-index: $zIndex-4; }
.report-refinement                                             { z-index: $zIndex-4; }

.ember-message-box,
.ember-message-box .ic-modal-form                              { z-index: $zIndex-5; }
.report-filter-apply-bar                                       { z-index: $zIndex-5; }

.file-input__button                                            { z-index: $zIndex-6; }
.no-touch .file-input input                                    { z-index: $zIndex-6; }
.toggle-menu                                                   { z-index: $zIndex-6; }
.toggle-menu__mobile                                           { z-index: $zIndex-6; }

.file-input input                                              { z-index: $zIndex-7; }
.no-touch .file-input__button                                  { z-index: $zIndex-7; }
.accepts-drag                                                  { z-index: $zIndex-7; }
.layout--dialog                                                { z-index: $zIndex-7; }

.ReactModal__Overlay--after-open                               { z-index: $zIndex-8; }
.account-expiration-overlay                                    { z-index: $zIndex-8; }

.pika-title select                                             { z-index: $zIndex-9; }
.pika-single                                                   { z-index: $zIndex-9; }
.pika-label                                                    { z-index: $zIndex-9; }
.mejs-contextmenu                                              { z-index: $zIndex-9; } // make sure it shows on fullscreen
.splash-view                                                   { z-index: $zIndex-9; }
.br-masquerade                                                 { z-index: $zIndex-9; }

.sticky-wrapper--fixed                                         { z-index: $zIndex-10; }
.sg-color-picker                                               { z-index: $zIndex-10; }
.sidebar__mobile_header                                        { z-index: $zIndex-10; }

.message-overlay__overlay                                      { z-index: $zIndex-11; }

.toaster                                                       { z-index: $zIndex-200; }

.masquerade-overlay > *                                        { z-index: $zIndex-210; }
